html.home_landing #wrapper {
	margin: 0
}

html.home_landing #header {
	display: none
}

@media only screen and (min-width: 992px) {
	html.home_landing #header {
		display: block;
	}
}

html.home_landing #header .logout {
	display: none
}

html.home_landing #go_top {
	display: none
}

@media only screen and (min-width: 992px) {
	html.home_landing #go_top {
		display: block
	}
}

html.home_landing #header .navbar-brand img {
	display: none
}

html.home_landing #header .navbar-brand .logo {
	color: #ccc;
	text-shadow: 0 1px 1px #111
}

html.home_landing #header .navbar-brand .logo:hover {
	color: white
}

html.home_landing #wrapper>footer {
	width: 100%;
	overflow: hidden
}

@media only screen and (min-width: 768px) {
	html.home_landing #wrapper>footer {
		margin-top: 20px
	}
}

@media only screen and (min-width: 992px) {
	html.home_landing #wrapper>footer {
		margin-top: 40px;
		border-top: 1px dashed #ccc
	}
}

html.home_landing #wrapper>footer>div {
	display: table;
	max-width: 1440px;
	width: 90%;
	height: 80px;
	margin: 0 auto;
	overflow: hidden
}

html.home_landing #wrapper>footer aside {
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
	text-align: center
}

@media only screen and (min-width: 768px) {
	html.home_landing #wrapper>footer aside {
		text-align: left
	}
}

html.home_landing #wrapper>footer aside small {
	display: block;
	min-width: 0;
	width: auto;
	margin: 0;
	padding: 0;
	font-size: 0.85em;
	line-height: 1.2;
	color: #727272;
	letter-spacing: 2px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	html.home_landing #wrapper>footer aside small {
		font-size: 0.65em
	}
}

@media only screen and (min-width: 992px) {
	html.home_landing #wrapper>footer aside small {
		font-size: 0.85em;
		line-height: 1.5
	}
}

html.home_landing #wrapper>footer aside small a {
	color: inherit
}

html.home_landing #wrapper>footer ul {
	display: none;
	float: right
}

@media only screen and (min-width: 768px) {
	html.home_landing #wrapper>footer ul {
		display: block
	}
}

html.home_landing #wrapper>footer ul li {
	display: inline-block;
	margin-left: 20px
}

html.home_landing #wrapper>footer ul li a {
	font-size: 0.85em;
	line-height: 80px;
	color: #727272;
	font-weight: bold;
	letter-spacing: 2px
}

@media only screen and (min-width: 992px) {
	html.home_landing #wrapper>footer ul li a {
		font-size: 0.95em
	}
}

html.home_landing #wrapper>footer ul li a:hover {
	color: #727272
}

html.home_landing #wrapper>footer ul li a span {
	color: #47b2e2;
	font-family: "orbitron-bold"
}

html.home_landing .landing {
	position: relative;
	height: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	html.home_landing .landing {
		height: 480px
	}
}

@media only screen and (min-width: 992px) {
	html.home_landing .landing {
		height: auto;
		min-height: 300px;
		background-image: none
	}
}

html.home_landing .landing>header {
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center
}

html.home_landing .landing>header:before {
	content: " ";
	display: table
}

html.home_landing .landing>header:after {
	content: " ";
	display: table;
	clear: both
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	html.home_landing .landing>header {
		margin-top: 100px
	}
}

@media only screen and (min-width: 992px) {
	html.home_landing .landing>header {
		position: absolute;
		top: 30%;
		left: 10%;
		z-index: 1;
		width: auto;
		margin: 0;
		padding-top: 0;
		text-align: left
	}
}

html.home_landing .landing>header>img:first-child {
	width: 48px;
	height: 48px;
	margin-right: 12px
}

@media only screen and (min-width: 992px) {
	html.home_landing .landing>header>img:first-child {
		width: 60px;
		height: 60px
	}
}

html.home_landing .landing>header>img:last-child {
	display: block;
	margin: 20px auto;
	margin-top: 20px;
	margin-bottom: 20px
}

@media only screen and (max-width: 479px) {
	html.home_landing .landing>header>img:last-child {
		margin-top: 10px
	}
}

@media only screen and (max-width: 767px) {
	html.home_landing .landing>header>img:last-child {
		width: 80%
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	html.home_landing .landing>header>img:last-child {
		width: 50%
	}
}

@media only screen and (min-width: 992px) {
	html.home_landing .landing>header>img:last-child {
		width: 400px;
		margin-top: 20px;
		margin-left: 15px;
		margin-bottom: 0
	}
}

html.home_landing .landing>header h1 {
	display: inline-block;
	margin: 0;
	font-family: "orbitron-bold";
	font-size: 48px;
	line-height: 48px;
	color: #47b2e2;
	vertical-align: middle;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.3)
}

@media only screen and (max-width: 479px) {
	html.home_landing .landing>header h1 {
		display: block;
		font-size: 40px;
		margin-top: 10px
	}
}

@media only screen and (min-width: 992px) {
	html.home_landing .landing>header h1 {
		line-height: 60px
	}
}

html.home_landing .landing .entry.entry_compact {
	position: relative;
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none
}

@media only screen and (max-width: 767px) {
	html.home_landing .landing .entry.entry_compact {
		width: 70%
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	html.home_landing .landing .entry.entry_compact {
		width: 40%
	}
}

@media only screen and (min-width: 992px) {
	html.home_landing .landing .entry.entry_compact {
		position: absolute;
		top: 42%;
		right: 10%;
		width: auto;
		margin-bottom: 0;
		z-index: 1
	}
}

html.home_landing .landing .entry.entry_compact .entry_email {
	display: block;
	width: 90%;
	height: 50px;
	margin: 0 auto;
	padding: 0
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	html.home_landing .landing .entry.entry_compact .entry_email {
		width: 300px
	}
}

@media only screen and (min-width: 992px) {
	html.home_landing .landing .entry.entry_compact .entry_email {
		width: 250px
	}
}

html.home_landing .landing .entry.entry_compact .entry_email a {
	display: block;
	font-size: 1em;
	line-height: 50px;
	color: #fff;
	background: #47b2e2;
	text-align: center;
	border-radius: 2px;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	box-shadow: black 0 0 8px;
	box-shadow: rgba(0,0,0,0.4) 0 0 8px
}

html.home_landing .landing .entry.entry_compact .entry_email a:hover {
	background: #23527c
}

html.home_landing .landing .entry.entry_compact .entry_email a i {
	margin-right: 15px
}

html.home_landing .landing .entry.entry_compact .entry_email a span {
	margin-left: 10px;
	margin-right: 10px
}

html.home_landing .landing .landing_image_wrap {
	display: none
}

@media only screen and (min-width: 992px) {
	html.home_landing .landing .landing_image_wrap {
		display: block;
		height: 300px;
		position: relative
	}

	html.home_landing .landing .landing_image_wrap img {
		position: absolute;
		top: -1000%;
		left: -1000%;
		right: -1000%;
		bottom: -1000%;
		margin: auto;
		min-width: 50%;
		min-height: 50%
	}
}

@media only screen and (min-width: 992px) and (min-width: 1440px) {
	html.home_landing .landing .landing_image_wrap img {
		position: static;
		width: 100%
	}
}

@media only screen and (min-width: 992px) {
	html.home_landing .landing .landing_image_wrap.landing_evening {
		top: -50%;
		left: -50%;
		width: 200%;
		height: 200%
	}

	html.home_landing .landing .landing_image_wrap.landing_day,html.home_landing .landing .landing_image_wrap.landing_deepnight {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%
	}
}

html.home_landing .explore {
	display: none
}

@media only screen and (min-width: 768px) {
	html.home_landing .explore {
		display: block
	}
}

@media only screen and (min-width: 768px) {
	html.home_landing .explore_header {
		box-shadow: 0 0 8px rgba(0,0,0,0.1);
		display: block;
		width: 100%;
		background-color: #fff
	}
}

@media only screen and (min-width: 992px) {
	html.home_landing .explore_header {
		border-bottom: 1px solid rgba(0,0,0,0.1)
	}
}

html.home_landing .explore_header .explore_header_inner {
	position: relative;
	max-width: 1440px;
	width: 90%;
	margin-left: auto;
	margin-right: auto
}

html.home_landing .explore_header .explore_header_inner input {
	border: 0
}

html.home_landing .explore_header .explore_header_inner:before {
	content: " ";
	display: table
}

html.home_landing .explore_header .explore_header_inner:after {
	content: " ";
	display: table;
	clear: both
}

html.home_landing .explore_header #search_form {
	float: left;
	width: 85%;
	height: 60px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	html.home_landing .explore_header #search_form {
		width: 80%
	}
}

html.home_landing .explore_header #search_form .search_menu-result>section:not(.search_things) {
	display: none
}

html.home_landing .explore_header #search_form .search_menu-result section.search_things {
	padding-bottom: 20px
}

html.home_landing .explore_header label[for="search_input"] {
	display: block;
	position: absolute;
	top: 17px;
	left: 0;
	font-size: 1.9em;
}

html.home_landing .explore_header label[for="search_input"] i {
	color: #47b2e2
}

html.home_landing .explore_header #search_thing {
	width: 100%;
	padding: 0;
	padding-left: 2.15em;
	font-size: 1.5em;
	height: 60px;
	line-height: 60px;
	color: #949494;
	outline: none;
	background: #fff;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease
}

html.home_landing .explore_header #search_thing:focus {
	box-shadow: rgba(0,0,0,0.5) 10px 0 10px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	html.home_landing .explore_header #search_thing:focus {
		box-shadow: none
	}
}

html.home_landing .explore_header #search_thing:-moz-placeholder {
	line-height: 60px
}

html.home_landing .explore_header #search_thing::-moz-placeholder {
	line-height: 60px
}

html.home_landing .explore_header #search_thing:-ms-input-placeholder {
	line-height: 60px
}

html.home_landing .explore_header #search_thing::-webkit-input-placeholder {
	line-height: 60px
}

html.home_landing .explore_header .discover_button {
	border-radius: 0;
	float: left;
	width: 15%;
	height: 60px;
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	line-height: 60px;
	color: #fff;
	background-color: #727272;
	border: 0;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	html.home_landing .explore_header .discover_button {
		width: 20%
	}
}

html.home_landing .explore_header .discover_button:hover {
	background-color: #47b2e2
}

html.home_landing .explore_header .discover_button:before {
	content: " ";
	display: table
}

html.home_landing .explore_header .discover_button:after {
	content: " ";
	display: table;
	clear: both
}

html.home_landing .explore_header .discover_button i {
	margin-right: 20px;
	vertical-align: -2px
}

html.home_landing .explore_body {
	display: none
}

@media only screen and (min-width: 992px) {
	html.home_landing .explore_body {
		display: block;
		max-width: 1440px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px
	}
}

html.home_landing .explore_body:before {
	content: " ";
	display: table
}

html.home_landing .explore_body:after {
	content: " ";
	display: table;
	clear: both
}

html.home_landing .explore_body .shop_banner {
	margin-bottom: 15px
}

html.home_landing .explore_nav {
	margin-bottom: 30px
}

html.home_landing .explore_nav ul {
	display: table;
	table-layout: fixed;
	width: 100%
}

html.home_landing .explore_nav ul li {
	display: table-cell;
	text-align: center
}

html.home_landing .explore_nav ul li a {
	display: block;
	font-size: 1em;
	line-height: 4;
	color: #949494;
	white-space: normal;
	border-bottom: 1px solid #fff
}

html.home_landing .explore_nav ul li a i {
	display: none
}

html.home_landing .explore_nav ul li.active a {
	color: #727272;
	border-bottom: 2px solid #47b2e2
}

html.home_landing .explore_nav ul li.active a i {
	float: left;
	display: inline-block;
	margin-right: 8px;
	line-height: 3.5;
	color: #47b2e2
}

html.home_landing .explore_nav ul li.active a span {
	display: inline-block
}

html.home_landing .explore_content:before {
	content: " ";
	display: table
}

html.home_landing .explore_content:after {
	content: " ";
	display: table;
	clear: both
}

html.home_landing .explore_content .explore_content_item {
	display: none
}

html.home_landing .explore_content .explore_content_item.active {
	display: block
}

html.home_landing .explore_content .product figcaption {
	position: relative
}

html.home_landing .explore_content .product figcaption .price {
	bottom: 0;
	padding: 10px 0;
	position: absolute;
	right: 0;
	color: #ddd;
	font-size: 12px
}

html.home_landing .explore_content .product_1 {
	width: 100%;
	margin: 0 auto;
	overflow: hidden
}

html.home_landing .explore_content .product_1 .product {
	float: left;
	width: 40%;
	margin-right: 2%;
	background: #fff;
	height: 580px;
	overflow: hidden;
	box-shadow: rgba(0,0,0,0.1) 0 0 5px
}

html.home_landing .explore_content .product_1 .product .product_thumb {
	display: block;
	height: 400px;
	line-height: 400px;
	margin: 0 auto;
	padding: 0 40px;
	overflow: hidden
}

html.home_landing .explore_content .product_1 .product .product_thumb img {
	display: inline-block;
	width: 100%;
	line-height: 400px;
	margin: 0 auto
}

@media only screen and (min-width: 1200px) {
	html.home_landing .explore_content .product_1 .product .product_thumb {
		height: 430px;
		line-height: 430px
	}

	html.home_landing .explore_content .product_1 .product .product_thumb img {
		line-height: 430px
	}
}

html.home_landing .explore_content .product_1 .product figcaption {
	display: table;
	width: 100%;
	height: 180px;
	margin: 0 auto;
	border-top: 1px dashed #eee
}

@media only screen and (min-width: 1200px) {
	html.home_landing .explore_content .product_1 .product figcaption {
		height: 150px
	}
}

html.home_landing .explore_content .product_1 .product figcaption>div {
	display: table-cell;
	vertical-align: middle
}

html.home_landing .explore_content .product_1 .product figcaption hgroup {
	margin-bottom: 25px;
	padding: 0 2em;
	text-align: center
}

html.home_landing .explore_content .product_1 .product figcaption hgroup * {
	margin: 0;
	padding: 0
}

html.home_landing .explore_content .product_1 .product figcaption h4 {
	margin-bottom: 10px;
	line-height: 1;
	color: #47b2e2;
	letter-spacing: 1px
}

html.home_landing .explore_content .product_1 .product figcaption h4 span {
	margin-right: 10px;
	font-family: "'Lato Thin'", sans-serif;
	font-size: 1.5em;
	line-height: 1
}

html.home_landing .explore_content .product_1 .product figcaption .product_detail {
	margin: 0 auto;
	color: #949494;
	text-align: center
}

html.home_landing .explore_content .product_1 .product figcaption .product_detail>span {
	margin-right: 20px
}

html.home_landing .explore_content .product_1 .product figcaption .product_detail>span:last-child {
	margin-right: 0
}

html.home_landing .explore_content .product_1 .reviews {
	float: left;
	width: 58%;
	height: 580px;
	overflow: hidden;
	margin-bottom: 2%
}

html.home_landing .explore_content .product_1 .reviews:before {
	content: " ";
	display: table
}

html.home_landing .explore_content .product_1 .reviews:after {
	content: " ";
	display: table;
	clear: both
}

html.home_landing .explore_content .product_1 .review {
	width: 100%;
	margin-bottom: 20px;
	padding: 0;
	background: #fff;
	box-shadow: rgba(0,0,0,0.1) 0 0 10px
}

html.home_landing .explore_content .product_1 .review:last-child {
	margin-bottom: 0
}

html.home_landing .explore_content .product_1 .review:last-child {
	margin-bottom: 0
}

html.home_landing .explore_content .product_1 .review_1 {
	display: table;
	height: 200px
}

html.home_landing .explore_content .product_1 .review_1>div {
	display: table-cell;
	padding: 40px 0;
	vertical-align: middle
}

html.home_landing .explore_content .product_1 .review_2 {
	display: table;
	height: 345px
}

html.home_landing .explore_content .product_1 .review_2>div {
	display: table-cell;
	padding: 40px 0;
	vertical-align: middle
}

html.home_landing .explore_content .product_1 .review_author {
	width: 20%;
	float: left;
	padding: 0 5%;
	margin-right: 2%;
	color: #727272;
	text-align: center
}

html.home_landing .explore_content .product_1 .review_author img {
	width: 100%;
	margin: 0 auto;
	border-radius: 50%
}

html.home_landing .explore_content .product_1 .review_author .name {
	display: block;
	margin-top: 15px;
	font-size: 0.9em;
	line-height: 2;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

html.home_landing .explore_content .product_1 .review_wrap {
	width: 78%;
	float: left;
	padding-right: 30px;
	overflow: hidden
}

html.home_landing .explore_content .product_1 .review_header {
	line-height: 18px;
	margin-bottom: 10px
}

html.home_landing .explore_content .product_1 .review_header:before {
	content: " ";
	display: table
}

html.home_landing .explore_content .product_1 .review_header:after {
	content: " ";
	display: table;
	clear: both
}

html.home_landing .explore_content .product_1 .review_header .like {
	float: right;
	width: 50px;
	color: #999;
	font-style: normal
}

html.home_landing .explore_content .product_1 .review_title {
	float: left;
	max-width: 75%
}

html.home_landing .explore_content .product_1 .review_title h4 {
	margin: 0
}

html.home_landing .explore_content .product_1 .review_title h4 a {
	display: block;
	overflow: hidden;
	font-size: 0.95em;
	text-overflow: ellipsis;
	white-space: nowrap;
	letter-spacing: 1px
}

html.home_landing .explore_content .product_1 .review_title h5 {
	display: block;
	float: left;
	max-width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0 20px 0 0;
	font-size: 1.2em;
	line-height: 1;
	color: #949494;
	padding-bottom: 10px;
	padding-top: 10px
}

html.home_landing .explore_content .product_1 .review_title .score {
	float: left;
	width: 150px;
	margin: 2px 0
}

html.home_landing .explore_content .product_1 .review_body p {
	height: 52px;
	margin-top: 20px;
	margin-bottom: 0;
	overflow: hidden;
	font-size: 0.9em;
	line-height: 26px;
	color: #999;
	text-overflow: ellipsis
}

html.home_landing .explore_content .product_1 .review_body ul {
	width: 100%;
	height: 70px;
	margin-top: 20px;
	overflow: hidden
}

html.home_landing .explore_content .product_1 .review_body ul:before {
	content: " ";
	display: table
}

html.home_landing .explore_content .product_1 .review_body ul:after {
	clear: both
}

html.home_landing .explore_content .product_1 .review_body ul li {
	float: left;
	margin-right: 15px
}

html.home_landing .explore_content .product_1 .review_body ul li img {
	height: 70px
}

html.home_landing .explore_content .product_2 {
	width: 100%;
	margin: 0 auto 30px;
	height: 250px;
	background: #fff;
	overflow: hidden;
	box-shadow: rgba(0,0,0,0.1) 0 0 5px
}

html.home_landing .explore_content .product_2 .product_thumb {
	float: left;
	width: 30%;
	line-height: 250px;
	margin: 0 auto;
	padding: 0 40px;
	overflow: hidden
}

html.home_landing .explore_content .product_2 .product_thumb img {
	display: inline-block;
	line-height: 250px
}

html.home_landing .explore_content .product_2 figcaption {
	display: table;
	float: left;
	width: 25%;
	height: 250px;
	padding: 0 40px;
	border-left: 1px dashed #eee;
	border-right: 1px dashed #eee;
	overflow: hidden
}

html.home_landing .explore_content .product_2 figcaption>div {
	display: table-cell;
	vertical-align: middle
}

html.home_landing .explore_content .product_2 figcaption hgroup {
	text-align: center
}

html.home_landing .explore_content .product_2 figcaption hgroup * {
	margin: 0;
	padding: 0
}

html.home_landing .explore_content .product_2 figcaption hgroup h4 {
	margin-bottom: 10px;
	line-height: 1;
	color: #47b2e2;
	letter-spacing: 1px
}

html.home_landing .explore_content .product_2 figcaption hgroup h4 span {
	margin-right: 10px;
	font-family: "'Lato Thin'", sans-serif;
	font-size: 1.2em;
	line-height: 1.25
}

html.home_landing .explore_content .product_2 figcaption hgroup h5 {
	font-size: 1em;
	line-height: 1.5;
	color: #727272;
	letter-spacing: 2px
}

html.home_landing .explore_content .product_2 figcaption .product_detail {
	margin: 0 auto;
	margin-top: 20px;
	color: #949494;
	text-align: center
}

html.home_landing .explore_content .product_2 figcaption .product_detail>span {
	margin-right: 20px
}

html.home_landing .explore_content .product_2 figcaption .product_detail>span:last-child {
	margin-right: 0
}

html.home_landing .explore_content .product_2 .review {
	display: block;
	display: table !important;
	float: left;
	width: 45%;
	height: 250px;
	padding: 0 30px
}

html.home_landing .explore_content .product_2 .review:before {
	content: " ";
	display: table
}

html.home_landing .explore_content .product_2 .review:after {
	content: " ";
	display: table;
	clear: both
}

html.home_landing .explore_content .product_2 .review>div {
	display: table-cell;
	vertical-align: middle
}

html.home_landing .explore_content .product_2 .review .review_author {
	width: 20%;
	float: left;
	padding: 0 3%;
	margin-right: 5%;
	color: #727272;
	text-align: center
}

html.home_landing .explore_content .product_2 .review .review_author img {
	width: 100%;
	margin: 0 auto;
	border-radius: 50%
}

html.home_landing .explore_content .product_2 .review .review_author .name {
	display: block;
	margin-top: 15px;
	font-size: 0.9em;
	line-height: 2;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

html.home_landing .explore_content .product_2 .review .review_wrap {
	width: 75%;
	float: left;
	padding-left: 0
}

html.home_landing .explore_content .product_2 .review .review_wrap .review_header {
	line-height: 18px;
	margin-bottom: 10px
}

html.home_landing .explore_content .product_2 .review .review_wrap .review_header .review_title {
	float: left;
	max-width: 75%
}

html.home_landing .explore_content .product_2 .review .review_wrap .review_header .review_title h4 {
	margin: 0
}

html.home_landing .explore_content .product_2 .review .review_wrap .review_header .review_title h4 a {
	display: block;
	overflow: hidden;
	font-size: 0.95em;
	text-overflow: ellipsis;
	white-space: nowrap;
	letter-spacing: 1px;
	max-width: 20em
}

html.home_landing .explore_content .product_2 .review .review_wrap .review_header .review_title h4 a:hover {
	color: #23527c
}

html.home_landing .explore_content .product_2 .review .review_wrap .review_header .review_title .score {
	float: left;
	width: 150px;
	margin: 2px 0
}

html.home_landing .explore_content .product_2 .review .review_wrap .review_header .like {
	float: right;
	width: 50px;
	color: #999;
	font-style: normal
}

html.home_landing .explore_content .product_2 .review .review_wrap .review_body {
	float: left;
	width: 100%
}

html.home_landing .explore_content .product_2 .review .review_wrap .review_body p {
	height: 52px;
	margin-top: 20px;
	margin-bottom: 0;
	overflow: hidden;
	font-size: 0.9em;
	line-height: 26px;
	color: #999;
	text-overflow: ellipsis
}

html.home_landing #navbar_search {
	display: none
}

html.home_landing #nav_secondary {
	display: none
}

html.home_landing .explore_content_item>.thing_list {
	position: relative;
	padding-right: 33.33333333%;
	background: #fafafa;
	border: 25px solid #fafafa;
	box-shadow: 0 0 5px rgba(0,0,0,0.1)
}

html.home_landing .explore_content_item>.thing_list .thing_list-cover {
	background: white;
	border-color: white;
	box-shadow: 0 0 5px rgba(0,0,0,0.1)
}

html.home_landing .explore_content_item>.thing_list .thing_list-cover img {
	padding: 0;
	box-shadow: none;
	border: 1px solid #f7f7f7
}

html.home_landing .explore_content_item>.thing_list .thing_list-cover:before {
	content: '';
	position: absolute;
	top: 50%;
	right: -16px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 0 8px 11px;
	border-color: transparent transparent transparent white;
	-webkit-filter: drop-shadow(0 1px 0 rgba(0,0,0,0.1));
	filter: drop-shadow(0 1px 0 rgba(0,0,0,0.1))
}

html.home_landing .explore_content_item>.thing_list h4 {
	position: absolute;
	top: 0;
	right: 0;
	left: 70%;
	margin: 0;
	font-size: 18px;
	color: #588cc7
}

html.home_landing .explore_content_item>.thing_list h4 .thing_list-size {
	display: none
}

html.home_landing .explore_content_item>.thing_list footer {
	position: absolute;
	top: 50%;
	right: 0;
	bottom: 0;
	left: 70%;
	overflow: visible;
	width: auto;
	margin: 0;
	border: none
}

html.home_landing .explore_content_item>.thing_list footer .thing_list-description {
	display: block;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0;
	padding: 0;
	border: none;
	font-size: 13px;
	line-height: 26px;
	width: auto;
	height: auto;
	max-height: 78px;
	overflow: hidden
}

html.home_landing .explore_content_item>.thing_list footer .thing_list-description:before {
	content: "\e768";
	position: absolute;
	top: -5px;
	left: -40px;
	color: #ebeced;
	font-family: 'KnewOne-Icon';
	font-size: 2em
}

html.home_landing .explore_content_item>.thing_list footer .thing_list-info {
	position: absolute;
	bottom: 0;
	width: 100%
}

html.home_landing .explore_content_item>.thing_list footer .thing_list-info a {
	line-height: 1
}

html.home_landing .explore_content_item>.thing_list footer .thing_list-info .user_avatar-name {
	color: #727272;
	font-family: "Lato Regular", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	font-weight: normal;
	letter-spacing: 0
}

html.home_landing .explore_content_item>.thing_list footer .thing_list-info .thing_list-creator {
	margin: 0
}

html.home_landing .explore_content_item>.thing_list footer .thing_list-info .thing_list-counts {
	position: absolute;
	right: 0
}

html.home_landing .explore_content_item>.thing_list footer .thing_list-info .thing_list-counts a {
	color: #999
}

html.landing_mobile body {
	padding: 0
}

html.landing_mobile #header {
	display: block
}

html.landing_mobile #header .btn {
	display: none
}

html.landing_mobile #header .menu-toggle {
	display: block
}

html.landing_mobile .headline {
	background-color: #fbfbfb
}

html.landing_mobile .headline .sign_group {
	text-align: center
}

html.landing_mobile .headline .sign_group .btn {
	padding: 0 24px;
	font-size: 18px;
	line-height: 38px;
	border-radius: 18px;
	margin: 20px 10px 20px 0
}

@media only screen and (max-width: 991px) {
	html.landing_mobile .headline .sign_group .btn:last-child {
		margin-right: 0
	}
}

html.landing_mobile .headline .form-group.search input:active,html.landing_mobile .headline .form-group.search input:focus {
	color: #fff;
	background-color: #5e6775
}

html.landing_mobile .jumptron.mobile_landing {
	margin: 0;
	background: url(../images/933afca8e373e303f3884bfcd9aba6b0.jpg) repeat
}

html.landing_mobile #wrapper .menu-search {
	margin-left: 0
}

html.landing_mobile .explore_body {
	padding: 0 45px
}

html.landing_mobile article.thing,html.landing_mobile article.review {
	background-color: #f7f7f7;
	padding: 20px;
	margin-bottom: 20px
}

html.landing_mobile article.review .cover {
	background-color: #fff
}

html.landing_mobile.mobile #header {
	position: absolute !important;
	background-color: transparent;
	pointer-events: none
}

html.landing_mobile.mobile #header h1 {
	display: none
}

html.landing_mobile.mobile #header .btn {
	margin-top: 0
}

html.landing_mobile.mobile #header .menu-toggle {
	pointer-events: auto
}

html.landing_mobile.mobile .headline {
	padding-top: 10px
}

html.landing_mobile.mobile .category_group {
	margin-bottom: 20px;
	background-color: #fff
}

html.landing_mobile.mobile .category_group .category_group-title {
	background-color: #fff;
	color: #474a4f;
	font-size: 18px;
	padding: 1em;
	position: relative
}

html.landing_mobile.mobile .category_group .category_group-title:before {
	content: " ";
	position: absolute;
	border-top: solid 16px transparent;
	border-right: solid 16px transparent;
	border-left: solid 16px transparent;
	border-bottom: solid 10px #f7f7f7;
	height: 0;
	width: 0;
	bottom: 0
}

html.landing_mobile.mobile .category_group .review {
	margin-bottom: 0
}

html.landing_mobile.tablet body {
	padding-top: 45px
}

html.landing_mobile.tablet body #wrapper {
	margin: 0
}

html.landing_mobile.tablet .headline {
	background: url(../images/landing-mobile-header_image_bg-4bed8114910ec392b1f4914609d5792598a291e7b24e0647f0df44c7deb4407a.jpg) repeat !important;
	display: table;
	padding: 20px 45px 0 45px;
	width: 100%
}

html.landing_mobile.tablet .headline .jumptron.mobile_landing {
	background-image: none;
	display: table-cell;
	width: 50%
}

html.landing_mobile.tablet .headline .sign_group {
	display: table-cell;
	width: 50%;
	padding: 0 45px
}

html.landing_mobile.tablet .headline .sign_group .btn {
	padding: 0 24px;
	font-size: 18px;
	line-height: 38px;
	border-radius: 18px;
	display: block
}

html.landing_mobile.tablet .explore {
	display: block
}

html.landing_mobile.tablet .explore_nav {
	margin: 20px 0;
	position: relative
}

html.landing_mobile.tablet .explore_nav ul {
	height: 58px;
	position: relative
}

html.landing_mobile.tablet .explore_nav ul li {
	vertical-align: bottom
}

html.landing_mobile.tablet .explore_nav ul li a span {
	display: none
}

html.landing_mobile.tablet .explore_nav ul li.active span {
	display: block;
	position: absolute;
	left: 50%;
	top: 0
}

html.landing_mobile.tablet .explore_nav .nav_toggle-btn {
	font-size: 22px;
	height: 57px;
	line-height: 57px;
	position: absolute;
	right: 0;
	text-align: center;
	-webkit-transition: -webkit-transform .25s ease-in-out;
	transition: -webkit-transform .25s ease-in-out;
	transition: transform .25s ease-in-out;
	transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
	width: 45px;
	z-index: 9999
}

html.landing_mobile.tablet .explore_nav .nav_toggle-btn i {
	margin-right: 0
}

html.landing_mobile.tablet .explore_nav.open {
	overflow: visible;
	height: auto;
	background-color: #fff;
	padding-right: 45px
}

html.landing_mobile.tablet .explore_nav.open:before,html.landing_mobile.tablet .explore_nav.open:after {
	content: " ";
	display: table
}

html.landing_mobile.tablet .explore_nav.open:after {
	clear: both
}

html.landing_mobile.tablet .explore_nav.open ul {
	display: block;
	table-layout: auto
}

html.landing_mobile.tablet .explore_nav.open ul li {
	display: block;
	float: left;
	height: 72px;
	width: 16.6666666666%
}

html.landing_mobile.tablet .explore_nav.open ul li a {
	line-height: 72px;
	border: none;
	color: #a2a2a2
}

html.landing_mobile.tablet .explore_nav.open ul li a span {
	position: static;
	display: block
}

html.landing_mobile.tablet .explore_nav.open ul li.active a {
	color: #343434
}

html.landing_mobile.tablet .explore_nav.open .nav_toggle-btn {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

html.landing_mobile.tablet .explore_body {
	display: block !important;
	position: relative
}

html.landing_mobile.tablet .explore_content_item {
	display: none;
	opacity: 1;
	margin: 0 20px
}

html.landing_mobile.tablet .explore_content_item:first-child {
	display: block
}

html.landing_mobile.tablet .thing-wrapper:before,html.landing_mobile.tablet .thing-wrapper:after {
	content: " ";
	display: table
}

html.landing_mobile.tablet .thing-wrapper:after {
	clear: both
}

html.landing_mobile.tablet article.thing {
	float: left;
	width: 49%;
	margin-bottom: 10px
}

html.landing_mobile.tablet article.thing:last-child {
	float: right
}

html.landing_mobile.tablet .read_more_category {
	display: block;
	padding: 1em 0;
	color: #47b2e2;
	text-align: right
}

html.landing_mobile.tablet .read_more_category:after {
	margin-left: .5em;
	content: "\e60e";
	display: inline-block;
	font-family: 'KnewOne-Icon'
}
