{% extends 'admins/basemain.html' %}

{% load static %}


{% block right %}
    <div id="pageAll">
        <div class="pageTop">
            <div class="page">
                <img src="{% static 'img/coin02.png' %}"/><span><a href="{% url 'bankground:main' %}">首页</a>&nbsp;-&nbsp;<a
                    href="{% url 'bankground:banner' %}">公共管理</a>&nbsp;-</span>&nbsp;意见管理
            </div>
        </div>
        <div class="page ">
            <!-- 上传广告页面样式 -->
            <div class="banneradd bor">
                <div class="baTop">
                    <span>添加商品</span>
                </div>
                <form action="{% url 'bankground:banneradd' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="baBody">
                        <div class="bbD">
                            商品名称：<input type="text" class="input1" name="gname">
                        </div>
                        <div class="bbD">
                            商品描述：<input type="text" class="input1" name="gdescription">
                        </div>
                        <div class="bbD">
                            热门产品：<input type="text" class="input1" name="ghot">
                        </div>
                        <div class="bbD">
                            商品数量：<input type="text" class="input1" name="gnumber">
                        </div>
                        <div class="bbD">
                            商品价格：<input type="text" class="input1" name="gprice">
                        </div>
                        <div class="bbD">
                            是否打折: <input type="text" class="input1" name="gdiscount">
                        </div>
                        <div class="bbD">
                            积分商品：<input type="text" class="input1" name="gcredits">
                        </div>
                        <div class="bbD">
                            商品类别：<input type="text" class="input1" name="gtype">
                        </div>
                        <div class="bbD">
                            上传图片：
                            <div class="bbDd">
                                <div class="bbDImg">+</div>
                                <input type="file" class="file" name="photo">
                                <a class="bbDDel" href="#">删除</a>
                            </div>
                            <div class="bbDd">
                                <div class="bbDImg">+</div>
                                <input type="file" class="file" name="photo1">
                                <a class="bbDDel" href="#">删除</a>
                            </div>

                        </div>


                        {#                        <div class="bbD">#}
                        {#                            是否显示：<label><input type="radio" checked="checked"/>是</label> <label><input#}
                        {#                                type="radio"/>否</label>#}
                        {#                        </div>#}
                        {#                        <div class="bbD">#}
                        {#                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;排序：<input class="input2"#}
                        {#                                                                          type="text"/>#}
                        {#                        </div>#}
                        <div class="bbD">
                            <p class="bbDP">

                                <button class="btn_ok btn_yes" href="#">提交</button>
                                <a class="btn_ok btn_yes" href="#">取消</a>
                            </p>
                        </div>
                    </div>
                </form>

            </div>

            <!-- 上传广告页面样式end -->
        </div>
    </div>
{% endblock %}