{% extends 'admins/basemain.html' %}

{% load static %}
{% block right %}
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="{% static 'img/coin02.png' %}" /><span><a href="{% url 'bankground:main' %}">首页</a>&nbsp;-&nbsp;<a
					href="{% url 'bankground:user' %}">网站管理</a>&nbsp;-</span>&nbsp;管理员管理
			</div>
		</div>
		<div class="page ">
			<!-- 会员注册页面样式 -->
			<div class="banneradd bor">
				<div class="baTopNo">
					<span>修改信息</span>
				</div>
				<div class="baBody">
					<div class="bbD">
						&nbsp;&nbsp;&nbsp;用户名：<input type="text" class="input3" />
					</div>
					<div class="bbD">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码：<input type="password"
							class="input3" />
					</div>
					<div class="bbD">
						用户邮箱：<input type="password" class="input3" />
					</div>
					<div class="bbD">
						<p class="bbDP">
							<button class="btn_ok btn_yes" href="#">提交</button>
							<a class="btn_ok btn_no" href="#">取消</a>
						</p>
					</div>
				</div>
			</div>

			<!-- 会员注册页面样式end -->
		</div>
	</div>
{% endblock %}