{% extends 'admins/basemain.html' %}

{% load static %}

{% block right %}
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="{% static 'img/coin02.png' %}" /><span><a href="{% url 'bankground:main' %}">首页</a>&nbsp;-&nbsp;<a
					href="{% url 'bankground:vip' %}">公共管理</a>&nbsp;-</span>&nbsp;密码重置
			</div>
		</div>
		<div class="page ">
			<!-- 会员注册页面样式 -->
			<div class="banneradd bor">
				<div class="baTopNo">
					<span>会员注册</span>
				</div>
				<div class="baBody">
					<div class="bbD">会员UID：&nbsp;&nbsp;&nbsp;124</div>
					<div class="bbD">
						会员账号：<input type="text" class="input3" />
					</div>
					<div class="bbD">
						填写密码：<input type="password" class="input3" />
					</div>
					<div class="bbD">
						<p class="bbDP">
							<button class="btn_ok btn_yes" href="#">提交</button>
							<a class="btn_ok btn_no" href="#">取消</a>
						</p>
					</div>
				</div>
			</div>

			<!-- 会员注册页面样式end -->
		</div>
	</div>
{% endblock %}
