{% extends 'index/base.html' %}
{% load static %}
{% block head %}
<html lang="zh-Hans-CN" prefix="og: http://ogp.me/ns#"
      class="entries_events signed_in production firefox desktop windows js flexbox canvas canvastext webgl touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths csscalc landscape scrollbar"
      style="">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>活动 - 首页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
    <link href="{% static 'css/application.css' %}" media="screen" rel="stylesheet"/>
    <link href="{% static 'css/application_sub.css' %}" media="screen" rel="stylesheet"/>
    <link href="{% static 'css/landing.css' %}" media="screen" rel="stylesheet"/>
    <link href="{% static 'css/events.css' %}" media="screen" rel="stylesheet"/>
    <script src="{% static 'js/before_body.js' %}"></script>
    <!--[if lt IE 9]>
  <script>
    var tip = '建议升级您的浏览器（如 Chrome, Firefox）以获得更好的体验！',
        url = 'http://browsehappy.com';

    document.execCommand('stop');
    alert(tip);
    window.location.href = url;
  </script>
<![endif]-->
</head>
{% endblock %}

{% block content %}
<section id="wrapper">
    <div class="container-fluid">
        <header class="page-header">
            <h1><i class="fa fa-bullhorn"></i>活动</h1>
        </header>
        <section class="events">
            <ul>
                <li>
                    <div class="thumbnail-cover">
                        <a href="activity_detail.html?568f51e2d6f99a208200068a" target="_blank"><img
                                src="../static/images/399dfb29e47dee63543cfa3026269ab4.png!middle" alt="免费领养：VH 致 黄铜原子笔"/></a>
                    </div>
                    <div class="thumbnail-body">
                        <div class="thumbnail-label">
                            <img alt="F2dc54a77da82ca79d5d77032534cbb4"
                                 src="../static/images/f2dc54a77da82ca79d5d77032534cbb4.png"/>
                            <span>免费领养</span>
                        </div>
                        <div class="thumbnail-title">
                            <a href="activity_detail.html?568f51e2d6f99a208200068a" target="_blank">免费领养：VH 致 黄铜原子笔</a>
                        </div>
                        <ul class="thumbnail-metas">
                            <li><a href="member_index.html?52dd3ae931302d267bd10100" target="_blank">MeggeryWang</a>
                            </li>
                            <li>
                                <time data-time-ago="2016-01-09T14:05:00+08:00" class="timeago"
                                      title="2016-01-09 14:05:00" datetime="2016-01-09T14:05:00+08:00">2天前
                                </time>
                            </li>
                            <li class="event_type">免费领养</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="thumbnail-cover">
                        <a href="activity_detail.html?568f5afed6f99a207e00079a" target="_blank"><img
                                src="../static/images/81daa6ece3ec9ca9ba3b2d11d6ed0600.jpg!middle" alt="免费领养：Sound Simple 发光耳机"/></a>
                    </div>
                    <div class="thumbnail-body">
                        <div class="thumbnail-label">
                            <img alt="F2dc54a77da82ca79d5d77032534cbb4"
                                 src="../static/images/f2dc54a77da82ca79d5d77032534cbb4.png"/>
                            <span>免费领养</span>
                        </div>
                        <div class="thumbnail-title">
                            <a href="activity_detail.html?568f5afed6f99a207e00079a" target="_blank">免费领养：Sound Simple
                                发光耳机</a>
                        </div>
                        <ul class="thumbnail-metas">
                            <li><a href="member_index.html?52dd3ae931302d267bd10100" target="_blank">MeggeryWang</a>
                            </li>
                            <li>
                                <time data-time-ago="2016-01-08T14:44:00+08:00" class="timeago"
                                      title="2016-01-08 14:44:00" datetime="2016-01-08T14:44:00+08:00">3天前
                                </time>
                            </li>
                            <li class="event_type">免费领养</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="thumbnail-cover">
                        <a href="activity_detail.html?568f286239b8d95e6a00051d" target="_blank"><img
                                src="../static/images/7f1d1f84796abf3a7eff313c05a862ab.jpg!middle" alt="免费领养：MO 智能体质分析仪"/></a>
                    </div>
                    <div class="thumbnail-body">
                        <div class="thumbnail-label">
                            <img alt="F2dc54a77da82ca79d5d77032534cbb4"
                                 src="../static/images/f2dc54a77da82ca79d5d77032534cbb4.png"/>
                            <span>免费领养</span>
                        </div>
                        <div class="thumbnail-title">
                            <a href="activity_detail.html?568f286239b8d95e6a00051d" target="_blank">免费领养：MO 智能体质分析仪</a>
                        </div>
                        <ul class="thumbnail-metas">
                            <li><a href="member_index.html?52dd3ae931302d267bd10100" target="_blank">MeggeryWang</a>
                            </li>
                            <li>
                                <time data-time-ago="2016-01-08T11:08:00+08:00" class="timeago"
                                      title="2016-01-08 11:08:00" datetime="2016-01-08T11:08:00+08:00">4天前
                                </time>
                            </li>
                            <li class="event_type">免费领养</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="thumbnail-cover">
                        <a href="activity_detail.html?568b728bfed5a032a0000031" target="_blank"><img
                                src="../static/images/c958ad0e37d13ca8b0c6883920d600d2.jpg!middle" alt=""/></a>
                    </div>
                    <div class="thumbnail-body">
                        <div class="thumbnail-label">
                            <img alt="E9b4c156216575e4bd4bec31ed64978a"
                                 src="../static/images/e9b4c156216575e4bd4bec31ed64978a.png"/>
                            <span>LESS活动</span>
                        </div>
                        <div class="thumbnail-title">
                            <a href="activity_detail.html?568b728bfed5a032a0000031" target="_blank">你的相片里，记载着 2015
                                年怎样的回忆？</a>
                        </div>
                        <ul class="thumbnail-metas">
                            <li><a href="member_index.html?55da997722edb602790009a6" target="_blank">Less</a></li>
                            <li>
                                <time data-time-ago="2016-01-05T15:35:00+08:00" class="timeago"
                                      title="2016-01-05 15:35:00" datetime="2016-01-05T15:35:00+08:00">6天前
                                </time>
                            </li>
                            <li><i class="fa fa-thumbs-o-up"></i>1</li>
                            <li><i class="fa fa-comment-o"></i>1</li>
                            <li class="event_type">LESS活动</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="thumbnail-cover">
                        <a href="activity_detail.html?565ff980102b534fef000104" target="_blank"><img
                                src="../static/images/d6cb1ea98edf893437704d266c99905f.jpg!middle" alt="在 Less 晒出你的桌面，赢会发光的耳机！"/></a>
                    </div>
                    <div class="thumbnail-body">
                        <div class="thumbnail-label">
                            <img alt="E9b4c156216575e4bd4bec31ed64978a"
                                 src="../static/images/e9b4c156216575e4bd4bec31ed64978a.png"/>
                            <span>LESS活动</span>
                        </div>
                        <div class="thumbnail-title">
                            <a href="activity_detail.html?565ff980102b534fef000104" target="_blank">在 Less
                                晒出你的桌面，赢会发光的耳机！</a>
                        </div>
                        <ul class="thumbnail-metas">
                            <li><a href="member_index.html?55da997722edb602790009a6" target="_blank">Less</a></li>
                            <li>
                                <time data-time-ago="2016-01-04T14:09:00+08:00" class="timeago"
                                      title="2016-01-04 14:09:00" datetime="2016-01-04T14:09:00+08:00">7天前
                                </time>
                            </li>
                            <li><i class="fa fa-thumbs-o-up"></i>4</li>
                            <li><i class="fa fa-comment-o"></i>4</li>
                            <li class="event_type">LESS活动</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="thumbnail-cover">
                        <a href="activity_detail.html?568a0baffed5a02203000092" target="_blank"><img
                                src="../static/images/f8472115a30715e0baac4f34fee5f509.jpg!middle" alt=""/></a>
                    </div>
                    <div class="thumbnail-body">
                        <div class="thumbnail-label">
                            <img alt="E9b4c156216575e4bd4bec31ed64978a"
                                 src="../static/images/e9b4c156216575e4bd4bec31ed64978a.png"/>
                            <span>LESS活动</span>
                        </div>
                        <div class="thumbnail-title">
                            <a href="activity_detail.html?568a0baffed5a02203000092" target="_blank">2015 年终总结 |
                                属于你的最佳产品</a>
                        </div>
                        <ul class="thumbnail-metas">
                            <li><a href="member_index.html?511114fa7373c2e3180000b4" target="_blank">KnewOne</a></li>
                            <li>
                                <time data-time-ago="2016-01-04T14:04:00+08:00" class="timeago"
                                      title="2016-01-04 14:04:00" datetime="2016-01-04T14:04:00+08:00">7天前
                                </time>
                            </li>
                            <li><i class="fa fa-thumbs-o-up"></i>5</li>
                            <li><i class="fa fa-comment-o"></i>2</li>
                            <li class="event_type">LESS活动</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="thumbnail-cover">
                        <a href="activity_detail.html?5687ecaf9b5d64289b000d59" target="_blank"><img
                                src="../static/images/b658692ac18559a7b50708acf89ccd4e.jpg!middle" alt="『美好生活 』付费群开始招募啦！"/></a>
                    </div>
                    <div class="thumbnail-body">
                        <div class="thumbnail-label">
                            <img alt="D18dabf04cfdd268858ccc688b849e88"
                                 src="../static/images/d18dabf04cfdd268858ccc688b849e88.png"/>
                            <span>网站活动</span>
                        </div>
                        <div class="thumbnail-title">
                            <a href="activity_detail.html?5687ecaf9b5d64289b000d59" target="_blank">『美好生活 』付费群开始招募啦！</a>
                        </div>
                        <ul class="thumbnail-metas">
                            <li><a href="member_index.html?50ffdd447373c2f015000001" target="_blank">沙昕哲</a></li>
                            <li>
                                <time data-time-ago="2016-01-02T23:24:00+08:00" class="timeago"
                                      title="2016-01-02 23:24:00" datetime="2016-01-02T23:24:00+08:00">9天前
                                </time>
                            </li>
                            <li><i class="fa fa-thumbs-o-up"></i>7</li>
                            <li><i class="fa fa-comment-o"></i>22</li>
                            <li class="event_type">网站活动</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="thumbnail-cover">
                        <a href="activity_detail.html?5684bc28df648121360000db" target="_blank"><img
                                src="../static/images/916c365bd2905d0a91bfa78806f35df9.jpg!middle"
                                alt="免费领养：Vortex 机器人（已结束）"/></a>
                    </div>
                    <div class="thumbnail-body">
                        <div class="thumbnail-label">
                            <img alt="F2dc54a77da82ca79d5d77032534cbb4"
                                 src="../static/images/f2dc54a77da82ca79d5d77032534cbb4.png"/>
                            <span>免费领养</span>
                        </div>
                        <div class="thumbnail-title">
                            <a href="activity_detail.html?5684bc28df648121360000db" target="_blank">免费领养：Vortex
                                机器人（已结束）</a>
                        </div>
                        <ul class="thumbnail-metas">
                            <li><a href="member_index.html?52dd3ae931302d267bd10100" target="_blank">MeggeryWang</a>
                            </li>
                            <li>
                                <time data-time-ago="2015-12-31T13:23:00+08:00" class="timeago"
                                      title="2015-12-31 13:23:00" datetime="2015-12-31T13:23:00+08:00">11天前
                                </time>
                            </li>
                            <li class="event_type">免费领养</li>
                        </ul>
                    </div>
                </li>
            </ul>
            <footer class="page-footer">
                <ul class="pagination">
                    <li class="active"><a href="#">1</a></li>
                    <li class=""><a href="/events?page=2" rel="next">2</a></li>
                    <li class=""><a href="/events?page=3">3</a></li>
                    <li class=""><a href="/events?page=4">4</a></li>
                    <li class=""><a href="/events?page=5">5</a></li>
                    <li class="disabled"><a href="#">...</a></li>
                    <li><a href="/events?page=2" rel="next">›</a></li>
                    <li><a href="/events?page=7">&raquo;</a></li>
                </ul>
            </footer>
        </section>
    </div>
</section>
<a id="go_top" href="#"><i class="fa fa-angle-up fa-2x"></i></a>
<div class="message-on-top"></div>
<div id="state"></div>
<div class="modals">
    <div id="new-thing-modal" class="modal fade modal--new_thing modal--new_thing-entry">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-plus"></i>分享新产品</h4>
                </div>
                <div class="modal-body clearfix">
                    <button data-toggle="modal" data-target="#new-thing-from-url-modal" data-dismiss="modal"
                            class="btn"><i class="fa fa-globe fa-fw"></i>从网站收集
                    </button>
                    <button id="btn-to-new-local-thing-modal" data-target="#new-thing-from-local" data-dismiss="modal"
                            class="btn"><i class="fa fa-cloud-upload fa-fw"></i>本地上传
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="new-thing-from-url-modal" data-keyboard="false"
         class="modal fade modal--new_thing modal--new_thing-remote">
        <form method="get" data-remote="true" accept-charset="UTF-8" action="/things/extract_url" autocomplete="off"
              id="extract_url_form">
            <input type="hidden" value="✓" name="utf8"/>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" class="close hidden-md" aria-hidden="true">&times;
                        </button>
                        <div class="new-thing-title">
                            <a href="#" data-target="#new-thing-from-local" data-dismiss="modal" class="btn">本地上传</a>
                            <h4>通过网页分享新产品</h4>
                        </div>
                    </div>
                    <div class="modal-body">
                        <input type="url" required="required" placeholder="http://" name="url" id="new-thing-url"
                               class="form-control dark" autofocus="autofocus"/>
                        <div class="alert hidden">
                            很抱歉，这个地址我们不支持，您可以通过
                            <a href="#" data-target="#new-thing-from-local" data-dismiss="modal">本地上传</a> 来分享此产品。
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn--gray">取消</button>
                        <button type="submit" class="btn btn--blue">抓取</button>
                        <div class="using_bm">
                            <a href="#collapseOne" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                               aria-controls="collapseOne">使用书签分享<i class="fa fa-angle-double-down"></i></a>
                            <div role="tabpanel" id="collapseOne" class="panel-collapse collapse"
                                 aria-labelledby="headingOne">
                                <div class="drop_bm">
                                    拖拽到书签栏
                                    <a href="javascript:(function(win,doc,ko){if(win[ko]){win[ko].ui.show();}else{var script=doc.createElement('script');script.id='KO_script';script.setAttribute('charset','utf-8');script.src='https://knewone.com/assets/bookmarklet.js?_c='+Math.floor(+new Date/1e7);doc.body.appendChild(script);}})(window,document,'KO_ROOM');"
                                       class="disabled"> 分享到 KnewOne</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="new-thing-similar-modal" class="modal modal--new_thing modal--new_thing-similiar fade"></div>
    <div role="dialog" id="new_private_message_modal" class="modal fade" aria-labelledby="写私信">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" data-remote="true" accept-charset="UTF-8" action="/dialogs" role="form">
                    <input type="hidden" value="✓" name="utf8"/>
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">写私信</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="dialog_user_id" name="dialog_user_id"/>
                        <div class="form-group field-message-receiver">
         <span class="twitter-typeahead" style="position: relative; display: inline-block;"><input type="text"
                                                                                                   required="required"
                                                                                                   class="form-control tt-hint"
                                                                                                   style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%;"
                                                                                                   disabled=""
                                                                                                   autocomplete="off"
                                                                                                   spellcheck="false"/><input
                 type="text" placeholder="用户昵称" required="required" class="form-control tt-input" id="dialog_user_name"
                 name="dialog_user_name" autocomplete="off" spellcheck="false"
                 style="position: relative; vertical-align: top; background-color: transparent;" dir="auto"/><pre
                 aria-hidden="true"
                 style="position: absolute; visibility: hidden; white-space: nowrap; font-family: Helvetica,Arial,"
                 microsoft="" yahei",sans-serif;="" font-size:="" 14px;="" font-style:="" normal;="" font-variant:="" font-weight:="" 400;="" word-spacing:="" 0px;="" letter-spacing:="" text-indent:="" text-rendering:="" optimizelegibility;="" text-transform:="" none;"=""></pre>
             <span class="tt-dropdown-menu"
                   style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;">
           <div class="tt-dataset-users"></div></span></span>
                        </div>
                        <div id="message-receiver--preset_53bb8b8831302d77db060000"
                             class="form-group message-receiver--preset is-hidden">
                            <div class="conversation media">
                                <div class="media-left pull-left">
                                    <a href="member_index.html?53bb8b8831302d77db060000" target="_blank"><img width="48"
                                                                                                              height="48"
                                                                                                              alt="5185ccad95e0e3aa6243d1b9fcb6dfed"
                                                                                                              src="../static/images/5185ccad95e0e3aa6243d1b9fcb6dfed.png!small"
                                                                                                              class="img-circle"/><span>马文</span></a>
                                </div>
                                <p class="media-body">我的脑容量相当于一颗行星，他们却让我当客服。so.. 需要我帮忙吗？</p>
                            </div>
                        </div>
                        <div class="form-group field-message-content">
                            <textarea placeholder="内容" required="required" class="form-control" rows="5"
                                      id="dialog_content" name="dialog_content"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn--gray">取消</button>
                        <button type="submit" class="btn btn--blue">发送</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="share_modal" class="modal fade share-modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" class="close">&times;</button>
                    <h4 class="modal-title">分享</h4>
                </div>
                <div class="modal-body">
                    <section class="box">
                        <h5>绑定第三方账号</h5>
                        <p><a href="member_index.html?auth/weibo?state=%2Fevents" class="share-button oauth"><i
                                class="fa fa-weibo fa-4x"></i></a></p>
                    </section>
                    <section class="box">
                        <h5>直接分享</h5>
                        <p><a href="#socialshare_wechat_modal" data-label="阿斗" data-action="wechat"
                              data-category="share" data-toggle="modal" class="share-button js-share--wechat"
                              title="微信朋友圈分享"><i class="fa fa-weixin fa-4x"></i></a><a
                                href="http://widget.renren.com/dialog/share?link=https://knewone.com/events"
                                title="分享到人人网" target="_blank" class="share-button"><i
                                class="fa fa-renren fa-4x"></i></a></p>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div tabindex="-1" role="dialog" id="socialshare_wechat_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" class="close"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">扫描二维码分享到微信</h4>
                </div>
                <div class="modal-body">
                    <div class="qrcode">
                        <img role="dialog" id="fallback_help_modal" class="modal fade" aria-hidden="true"/>
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">&times;</span><span
                                            class="sr-only">Close</span></button>
                                    <h4 class="modal-title">和我们聊天</h4>
                                </div>
                                <div class="modal-body">
                                    <p>抱歉，客服系统现在繁忙。请邮件留言至邮箱&nbsp;<a href="mailto:help@knewone.com" target="_blank">help@knewone.com</a>&nbsp;，或私信账号“KnewOne销售”，我们将尽快给予回复。不便之处，敬请谅解！
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="site_maps hidden">
                    <a href="/maps/things">产品</a>
                    <a href="/maps/reviews">评测</a>
                    <a href="/maps/groups">小组</a>
                    <a href="/maps/topics">帖子</a>
                    <a href="/maps/categories">分类</a>
                    <a href="/maps/entries">发现</a>
                </div>
                <script src="../static/js/vendor.js"></script>
                <script src="../static/js/application.js"></script>
                <div id="fancy-modal-container"></div>
                <div id="add-to-list-modal-container"></div>
                <div class="atwho-container">
                    <div id="atwho-ground-dialog_content">
                        <div class="atwho-view" id="at-view-64">
                            <ul class="atwho-view-ul"></ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
{% endblock %}
