{% extends 'index/base.html' %}
{% load static %}
{% block head %}
<html lang="zh-Hans-CN" prefix="og: http://ogp.me/ns#"
      class="orders_new signed_in production firefox desktop windows js flexbox canvas canvastext webgl touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths csscalc landscape scrollbar"
      style="">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>购物车 - 提交订单</title>
    <link href="{% static 'css/application.css' %}" media="screen" rel="stylesheet"/>
    <link href="{% static 'css/application_sub.css' %}" media="screen" rel="stylesheet"/>
    <link href="{% static 'css/orders.css' %}" media="screen" rel="stylesheet"/>
    <script src="{% static 'js/before_body.js' %}"></script>
    <!--[if lt IE 9]>
  <script>
    var tip = '建议升级您的浏览器（如 Chrome, Firefox）以获得更好的体验！',
        url = 'http://browsehappy.com';

    document.execCommand('stop');
    alert(tip);
    window.location.href = url;
  </script>
<![endif]-->
    <style type="text/css">#MECHAT-PCBTN {
        font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        position: fixed;
        bottom: -100%;
        background: #1abc9c;
        color: #fff;
        text-align: center;
        padding: 10px 15px 8px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;
        z-index: 2147483645;
    }

    #MECHAT-PCBTN span {
        display: inline-block;
        height: 24px;
        padding: 0 0 0 34px;
        background: url(../static/images/pc_btn_icon.png ") 0 0 no-repeat}#MECHAT-LAYOUT{position:fixed;right:80px;bottom:-100%;width:300px;height:430px;z-index:2147483647; overflow:hidden;background: #fff;border:1px solid #1abc9c;border-top-left-radius:5px;border-top-right-radius:5px;box-shadow:0 0 3px 2px rgba(135,135,135,0.1)}#MECHAT-PCBTN,#MECHAT-LAYOUT{_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))}</style>
</head>
{% endblock %}
{% block content %}
<section id="wrapper">
    <header class="page-header order-header">
        <h2><i class="fa fa-file-text-o"></i>提交订单</h2>
    </header>
    <div class="order-address order-address--slide_up">
        <div class="order-address-title">
            寄送地址
        </div>
        <div class="order-address-content">
            <ul class="order-addresses-list">
                <li class="order-addresses-item order-addresses-item--selected"><label><span
                        class="order-addresses-item_label"><i class="fa fa-map-marker"></i>寄送至</span><input type="radio"
                                                                                                            checked="checked"
                                                                                                            class="order-address-radio"
                                                                                                            value="54aa9ba531302d42b28c0000"
                                                                                                            id="address_id_54aa9ba531302d42b28c0000"
                                                                                                            name="address_id"/><span
                        class="order-address-info"><span class="order-address-info_base">河北省秦皇岛市海港区江苏南京</span><span
                        class="order-address-info_name">黄金林</span><span
                        class="order-address-info_phone">13851435593</span></span></label><span
                        class="btn btn--gray btn--xs">首选地址</span><a
                        href="/settings/addresses/54aa9ba531302d42b28c0000?redirect_from=https%3A%2F%2Fknewone.com%2Forders%2Fnew"
                        class="btn btn--gray btn btn--xs pull-right order-address-update">修改地址</a></li>
            </ul>
            <div class="order-address-slide_down">
                <i class="fa fa-angle-double-down"></i>选择其他地址
            </div>
            <a href="javascript:void(0);" class="btn btn--gray btn btn--xs order-address-new_btn"><i
                    class="fa fa-plus"></i>使用新地址</a>
            <div class="order-address-editor">
                <form method="post" accept-charset="UTF-8" action="/settings/addresses" id="new_address"
                      class="new_address" novalidate="true">
                    <input type="hidden" value="✓" name="utf8"/>
                    <input type="hidden"
                           value="0SlTBQ9WX5/gT142QwoG+dNuEdJ4y4sPxtIM3z2TYSMzvlkBbaGW4GzcCQpRjNd8kPLlv6l43gmOtkBfysvijw=="
                           name="authenticity_token"/>
                    <div class="row city-group">
                        <div class="form-group col-xs-4">
                            <select class="form-control city-select ui-input-select" id="address_province_code"
                                    name="address[province_code]">
                                <option value="">- 省/直辖市 -</option>
                                <option value="110000">北京市</option>
                                <option value="120000">天津市</option>
                                <option value="130000">河北省</option>
                                <option value="140000">山西省</option>
                                <option value="150000">内蒙古自治区</option>
                                <option value="210000">辽宁省</option>
                                <option value="220000">吉林省</option>
                                <option value="230000">黑龙江省</option>
                                <option value="310000">上海市</option>
                                <option value="320000">江苏省</option>
                                <option value="330000">浙江省</option>
                                <option value="340000">安徽省</option>
                                <option value="350000">福建省</option>
                                <option value="360000">江西省</option>
                                <option value="370000">山东省</option>
                                <option value="410000">河南省</option>
                                <option value="420000">湖北省</option>
                                <option value="430000">湖南省</option>
                                <option value="440000">广东省</option>
                                <option value="450000">广西壮族自治区</option>
                                <option value="460000">海南省</option>
                                <option value="500000">重庆市</option>
                                <option value="510000">四川省</option>
                                <option value="520000">贵州省</option>
                                <option value="530000">云南省</option>
                                <option value="540000">西藏自治区</option>
                                <option value="610000">陕西省</option>
                                <option value="620000">甘肃省</option>
                                <option value="630000">青海省</option>
                                <option value="640000">宁夏回族自治区</option>
                                <option value="650000">新疆维吾尔自治区</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-4">
                            <select class="form-control city-select ui-input-select" id="address_city_code"
                                    name="address[city_code]">
                                <option value="">- 城市 -</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-4">
                            <select class="form-control city-select ui-input-select" id="address_district_code"
                                    name="address[district_code]">
                                <option value="">- 地区 -</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <input type="text" id="address_street" name="address[street]" required="required"
                                       class="form-control ui-input-text" placeholder="街道地址" data-event="validate"/>
                                <ul class="help-block"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <input type="text" id="address_name" name="address[name]" required="required"
                                       class="form-control ui-input-text" placeholder="联系人" data-event="validate"/>
                                <ul class="help-block"></ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <input type="text" id="address_phone" name="address[phone]" size="11"
                                       required="required" class="form-control ui-input-text" placeholder="电话"
                                       maxlength="11" data-event="validate"/>
                                <ul class="help-block"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <label><input type="hidden" value="0" name="address[default]"/><input type="checkbox"
                                                                                                  id="address_default"
                                                                                                  name="address[default]"
                                                                                                  value="1"/>设定该地址为首选地址</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right">
                                <a href="#"
                                   class="btn btn--blue_light btn--outline order-address--editable-cancel">取消</a>
                                <button class="btn btn--blue" type="submit" name="button">保存地址</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <form method="post" accept-charset="UTF-8" action="/orders" id="new_order" class="form">
        <input type="hidden" value="✓" name="utf8"/>
        <input type="hidden"
               value="0SlTBQ9WX5/gT142QwoG+dNuEdJ4y4sPxtIM3z2TYSMzvlkBbaGW4GzcCQpRjNd8kPLlv6l43gmOtkBfysvijw=="
               name="authenticity_token"/>
        <input type="hidden" id="order_package_address_id" name="order_package[address_id]"
               value="54aa9ba531302d42b28c0000"/>
        <div class="order-sub_order">
            <div class="order-sub_order-header">
                <div class="order-sub_order-header_item">
                    单价
                </div>
                <div class="order-sub_order-header_item">
                    数量
                </div>
                <div class="order-sub_order-header_item">
                    总价
                </div>
            </div>
            <div class="order-sub_order-group">
                <ul class="order-sub_order-list">
                    <li class="order-sub_order-item">
                        <div class="order-sub_order-thing">
                            <div class="order-sub_order-thing_cover">
                                <a href="discover_detail.html?meskins-chuang-yi-bao-nuan-zhuo-dian"><img
                                        src="../static/images/4adddcc9be541662645f616d5eef113a.jpg!small"
                                        alt="Meskins 创意保暖桌垫"/></a>
                            </div>
                            <div class="order-sub_order-thing_info">
                                <a href="discover_detail.html?meskins-chuang-yi-bao-nuan-zhuo-dian"
                                   class="order-sub_order-thing_title">Meskins 创意保暖桌垫</a>
                                <div class="order-sub_order-thing_kind">
                                    白领张小盒
                                </div>
                            </div>
                        </div>
                        <div class="order-sub_order-item_unit_price">
                            <i class="fa fa-yen"></i>65.0
                        </div>
                        <div class="order-sub_order-item_quantity">
                            <span>4</span>
                        </div>
                        <div class="order-sub_order-item_price">
                            <i class="fa fa-yen"></i>260.0
                        </div>
                    </li>
                    <li class="order-sub_order-item">
                        <div class="order-sub_order-thing">
                            <div class="order-sub_order-thing_cover">
                                <a href="discover_detail.html?meskins-chuang-yi-bao-nuan-zhuo-dian"><img
                                        src="../static/images/4adddcc9be541662645f616d5eef113a.jpg!small"
                                        alt="Meskins 创意保暖桌垫"/></a>
                            </div>
                            <div class="order-sub_order-thing_info">
                                <a href="discover_detail.html?meskins-chuang-yi-bao-nuan-zhuo-dian"
                                   class="order-sub_order-thing_title">Meskins 创意保暖桌垫</a>
                                <div class="order-sub_order-thing_kind">
                                    梦想张小盒
                                </div>
                            </div>
                        </div>
                        <div class="order-sub_order-item_unit_price">
                            <i class="fa fa-yen"></i>65.0
                        </div>
                        <div class="order-sub_order-item_quantity">
                            <span>1</span>
                        </div>
                        <div class="order-sub_order-item_price">
                            <i class="fa fa-yen"></i>65.0
                        </div>
                    </li>
                </ul>
                <div class="clearfix">
                    <div class="order-sub_order-merchant">
                        以上商品由
                        <a href="/merchants/548a5f9931302d4df7590000">KnewOne</a>提供
                    </div>
                    <div class="order-sub_order-delivery">
                        <div class="base-delivery">
                            <div class="price" style="float:right">
                                <i class="fa fa-yen"></i>0.0
                            </div>
                            <label>运费</label>

                        </div>
                        <div data-price="10.0" class="premium_delivery">
                            <label><input type="checkbox" value="true"
                                          id="enable_premium_delivery_groups_548a5f9931302d4df7590000_stock"
                                          name="enable_premium_delivery_groups[548a5f9931302d4df7590000][stock]"/>使用顺丰速递</label>
                            <div class="price">
                                +
                                <i class="fa fa-yen"></i>10.0
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-sub_order-group">
                <ul class="order-sub_order-list">
                    <li class="order-sub_order-item">
                        <div class="order-sub_order-thing">
                            <div class="order-sub_order-thing_cover">
                                <a href="discover_detail.html?wpc-unnurella-r-bu-hui-shi-de-fang-shai-qing-yu-san"><img
                                        src="../static/images/947747c9bf64a488c0c13eb0c0428c93.jpg!small"
                                        alt="WPC unnurella&reg; 不会湿的防晒晴雨伞"/></a>
                            </div>
                            <div class="order-sub_order-thing_info">
                                <a href="discover_detail.html?wpc-unnurella-r-bu-hui-shi-de-fang-shai-qing-yu-san"
                                   class="order-sub_order-thing_title">WPC unnurella&reg; 不会湿的防晒晴雨伞</a>
                                <div class="order-sub_order-thing_kind">
                                    58cm折叠伞-红色
                                </div>
                            </div>
                        </div>
                        <div class="order-sub_order-item_unit_price">
                            <i class="fa fa-yen"></i>459.0
                        </div>
                        <div class="order-sub_order-item_quantity">
                            <span>1</span>
                        </div>
                        <div class="order-sub_order-item_price">
                            <i class="fa fa-yen"></i>459.0
                        </div>
                    </li>
                </ul>
                <div class="clearfix">
                    <div class="order-sub_order-merchant">
                        以上商品由
                        <a href="/merchants/55dac83222edb636610002ae">共启</a>提供
                    </div>
                    <div class="order-sub_order-delivery">
                        <div class="base-delivery">
                            <div class="price" style="float:right">
                                <i class="fa fa-yen"></i>0.0
                            </div>
                            <label>运费</label>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="order-rebate"></ul>
        <div class="row">
            <div class="col-md-12 col-lg-5 col-lg-push-7">
                <div class="order-coupon">
                    <div class="order-coupon-header clearfix">
                        <span class="order-coupon-title">选择优惠券</span>
                        <a href="/settings/coupons?redirect_from=https%3A%2F%2Fknewone.com%2Forders%2Fnew"
                           class="btn btn--gray btn btn--xs order-coupon-new_btn"><i class=" fa fa-plus"></i>添加优惠券</a>
                    </div>
                    <ul class="order-coupon-list">
                        <li class="order-coupon-item"><label><input type="radio" id="order_package_coupon_code_id_"
                                                                    name="order_package[coupon_code_id]"
                                                                    checked="checked" value=""
                                                                    class="order_package_coupon_radio"
                                                                    data-href="member_order_detail.html?new?order_package%5Baddress_id%5D=54aa9ba531302d42b28c0000&amp;order_package%5Bcoupon_code_id%5D="/>不使用</label>
                        </li>
                    </ul>
                </div>
                <div class="order-sum">
                    <div class="order-sum-item">
                        <div class="order-sum-label">
                            单价
                        </div>
                        <div class="order-sum-price">
                            <i class="fa fa-yen"></i>784.0
                        </div>
                    </div>
                    <div class="order-sum-item">
                        <div class="order-sum-label">
                            折扣
                        </div>
                        <div class="order-sum-price order-sum-rebate_price">
                            <i class="fa fa-yen"></i>-0
                        </div>
                    </div>
                    <div class="order-sum-item">
                        <div class="order-sum-label">
                            运费
                        </div>
                        <div class="order-sum-price">
                            <i class="fa fa-yen"></i>
                            <span id="order-delivery">0.0</span>
                        </div>
                    </div>
                    <div class="order-sum-item order-sum-receivable">
                        <div class="order-sum-label">
                            应付总额
                        </div>
                        <div class="order-sum-price">
                            <i class="fa fa-yen"></i>
                            <span id="order-receivable">784.0</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <button id="submit_order_btn" class="btn btn-primary order-submit_btn" type="submit" name="button">
                        <i class="fa fa-credit-card"></i>提交订单
                    </button>
                </div>
            </div>
            <div class="col-md-12 col-lg-7 col-lg-pull-5">
                <div class="order-form-fields-1">
                    <textarea id="order_package_user_note" name="order_package[user_note]"
                              class="form-control order-user_note" placeholder="在此填写备注"></textarea>
                    <div>
                        <label class="misc_option"><input type="hidden" value="0"
                                                          name="order_package[buy_as_gift]"/><input type="checkbox"
                                                                                                    id="order_package_buy_as_gift"
                                                                                                    name="order_package[buy_as_gift]"
                                                                                                    value="1"
                                                                                                    class="buy_as_gift"/>作为礼物，价格和发货信息向收货人保密</label>
                    </div>
                    <div>
                        <label class="misc_option"><input type="hidden" value="0"
                                                          name="order_package[auto_owning]"/><input type="checkbox"
                                                                                                    id="order_package_auto_owning"
                                                                                                    name="order_package[auto_owning]"
                                                                                                    checked="checked"
                                                                                                    value="1"/>帮我标记产品为拥有</label>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="order-sum--mobile">
            <div class="order-sum-receivable--mobile">
                <div class="order-sum-receivable_label--mobile">
                    总计
                </div>
                <div class="order-sum-receivable_price--mobile">
                    <i class="fa fa-yen"></i>784.0
                </div>
            </div>
            <button id="submit_order_btn_mobile" class="btn btn--blue order-submit_btn--mobile" type="submit"
                    name="button"><i class="fa fa-credit-card"></i>提交订单
            </button>
        </div>
    </form>
</section>
<a id="go_top" href="#"><i class="fa fa-angle-up fa-2x"></i></a>
<div class="message-on-top"></div>
<div id="state"></div>
<div class="modals">
    <div id="new-thing-modal" class="modal fade modal--new_thing modal--new_thing-entry">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-plus"></i>分享新产品</h4>
                </div>
                <div class="modal-body clearfix">
                    <button data-toggle="modal" data-target="#new-thing-from-url-modal" data-dismiss="modal"
                            class="btn"><i class="fa fa-globe fa-fw"></i>从网站收集
                    </button>
                    <button id="btn-to-new-local-thing-modal" data-target="#new-thing-from-local" data-dismiss="modal"
                            class="btn"><i class="fa fa-cloud-upload fa-fw"></i>本地上传
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="new-thing-from-url-modal" data-keyboard="false"
         class="modal fade modal--new_thing modal--new_thing-remote">
        <form method="get" data-remote="true" accept-charset="UTF-8" action="/things/extract_url" autocomplete="off"
              id="extract_url_form">
            <input type="hidden" value="✓" name="utf8"/>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" class="close hidden-md" aria-hidden="true">&times;
                        </button>
                        <div class="new-thing-title">
                            <a href="#" data-target="#new-thing-from-local" data-dismiss="modal" class="btn">本地上传</a>
                            <h4>通过网页分享新产品</h4>
                        </div>
                    </div>
                    <div class="modal-body">
                        <input type="url" required="required" placeholder="http://" name="url" id="new-thing-url"
                               class="form-control dark" autofocus="autofocus"/>
                        <div class="alert hidden">
                            很抱歉，这个地址我们不支持，您可以通过
                            <a href="#" data-target="#new-thing-from-local" data-dismiss="modal">本地上传</a> 来分享此产品。
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn--gray">取消</button>
                        <button type="submit" class="btn btn--blue">抓取</button>
                        <div class="using_bm">
                            <a href="#collapseOne" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                               aria-controls="collapseOne">使用书签分享<i class="fa fa-angle-double-down"></i></a>
                            <div role="tabpanel" id="collapseOne" class="panel-collapse collapse"
                                 aria-labelledby="headingOne">
                                <div class="drop_bm">
                                    拖拽到书签栏
                                    <a href="javascript:(function(win,doc,ko){if(win[ko]){win[ko].ui.show();}else{var script=doc.createElement('script');script.id='KO_script';script.setAttribute('charset','utf-8');script.src='https://knewone.com/assets/bookmarklet.js?_c='+Math.floor(+new Date/1e7);doc.body.appendChild(script);}})(window,document,'KO_ROOM');"
                                       class="disabled"> 分享到 KnewOne</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="new-thing-similar-modal" class="modal modal--new_thing modal--new_thing-similiar fade"></div>
    <div role="dialog" id="new_private_message_modal" class="modal fade" aria-labelledby="写私信">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" data-remote="true" accept-charset="UTF-8" action="/dialogs" role="form">
                    <input type="hidden" value="✓" name="utf8"/>
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">写私信</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="dialog_user_id" name="dialog_user_id"/>
                        <div class="form-group field-message-receiver">
         <span class="twitter-typeahead" style="position: relative; display: inline-block;"><input type="text"
                                                                                                   required="required"
                                                                                                   class="form-control tt-hint"
                                                                                                   style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%;"
                                                                                                   disabled=""
                                                                                                   autocomplete="off"
                                                                                                   spellcheck="false"/><input
                 type="text" placeholder="用户昵称" required="required" class="form-control tt-input" id="dialog_user_name"
                 name="dialog_user_name" autocomplete="off" spellcheck="false"
                 style="position: relative; vertical-align: top; background-color: transparent;" dir="auto"/><pre
                 aria-hidden="true"
                 style="position: absolute; visibility: hidden; white-space: nowrap; font-family: Helvetica,Arial,"
                 microsoft="" yahei",sans-serif;="" font-size:="" 14px;="" font-style:="" normal;="" font-variant:="" font-weight:="" 400;="" word-spacing:="" 0px;="" letter-spacing:="" text-indent:="" text-rendering:="" optimizelegibility;="" text-transform:="" none;"=""></pre>
             <span class="tt-dropdown-menu"
                   style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;">
           <div class="tt-dataset-users"></div></span></span>
                        </div>
                        <div id="message-receiver--preset_53bb8b8831302d77db060000"
                             class="form-group message-receiver--preset is-hidden">
                            <div class="conversation media">
                                <div class="media-left pull-left">
                                    <a href="member_index.html?53bb8b8831302d77db060000" target="_blank"><img width="48"
                                                                                                              height="48"
                                                                                                              alt="5185ccad95e0e3aa6243d1b9fcb6dfed"
                                                                                                              src="../static/images/5185ccad95e0e3aa6243d1b9fcb6dfed.png!small"
                                                                                                              class="img-circle"/><span>马文</span></a>
                                </div>
                                <p class="media-body">我的脑容量相当于一颗行星，他们却让我当客服。so.. 需要我帮忙吗？</p>
                            </div>
                        </div>
                        <div class="form-group field-message-content">
                            <textarea placeholder="内容" required="required" class="form-control" rows="5"
                                      id="dialog_content" name="dialog_content"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn--gray">取消</button>
                        <button type="submit" class="btn btn--blue">发送</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="share_modal" class="modal fade share-modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" class="close">&times;</button>
                    <h4 class="modal-title">分享</h4>
                </div>
                <div class="modal-body">
                    <section class="box">
                        <h5>绑定第三方账号</h5>
                        <p><a href="member_index.html?auth/weibo?state=%2Forders%2Fnew" class="share-button oauth"><i
                                class="fa fa-weibo fa-4x"></i></a></p>
                    </section>
                    <section class="box">
                        <h5>直接分享</h5>
                        <p><a href="#socialshare_wechat_modal" data-label="Meskins 创意保暖桌垫" data-action="wechat"
                              data-category="share" data-toggle="modal" class="share-button js-share--wechat"
                              title="微信朋友圈分享"><i class="fa fa-weixin fa-4x"></i></a><a
                                href="http://widget.renren.com/dialog/share?link=https://knewone.com/orders/new"
                                title="分享到人人网" target="_blank" class="share-button"><i
                                class="fa fa-renren fa-4x"></i></a></p>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div tabindex="-1" role="dialog" id="socialshare_wechat_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" class="close"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">扫描二维码分享到微信</h4>
                </div>
                <div class="modal-body">
                    <div class="qrcode">
                        <img role="dialog" id="fallback_help_modal" class="modal fade" aria-hidden="true"/>
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">&times;</span><span
                                            class="sr-only">Close</span></button>
                                    <h4 class="modal-title">和我们聊天</h4>
                                </div>
                                <div class="modal-body">
                                    <p>抱歉，客服系统现在繁忙。请邮件留言至邮箱&nbsp;<a href="mailto:help@knewone.com" target="_blank">help@knewone.com</a>&nbsp;，或私信账号“KnewOne销售”，我们将尽快给予回复。不便之处，敬请谅解！
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="site_maps hidden">
                    <a href="/maps/things">产品</a>
                    <a href="/maps/reviews">评测</a>
                    <a href="/maps/groups">小组</a>
                    <a href="/maps/topics">帖子</a>
                    <a href="/maps/categories">分类</a>
                    <a href="/maps/entries">发现</a>
                </div>
                <script src="../static/js/vendor.js"></script>
                <script src="../static/js/application.js"></script>
                <!--      <script>Making.OrderPage.InitNew();</script>
                      <script type="text/javascript">
                //<![CDATA[
                $(function() { Making.start(['Orders', 'OrdersNew']) });
                //]]>
                </script>-->
                <script src="../static/js/mechat.js?unitid=4075&amp;btn=hide" async="true"></script>
                <div id="fancy-modal-container"></div>
                <div id="add-to-list-modal-container"></div>
                <div class="atwho-container">
                    <div id="atwho-ground-order_package_user_note">
                        <div class="atwho-view" id="at-view-64">
                            <ul class="atwho-view-ul"></ul>
                        </div>
                    </div>
                </div>
                <div class="atwho-container">
                    <div id="atwho-ground-dialog_content">
                        <div class="atwho-view" id="at-view-64">
                            <ul class="atwho-view-ul"></ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="MECHAT-LAYOUT"
                         style="display: none; border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(6, 122, 180) rgb(6, 122, 180) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none;">
                        <iframe frameborder="no" scrolling="no" style="width:100%;height:100%;border:0;"
                                src="https://chat.meiqia.com/widget/desktop/index.html?unitid=4075&amp;cookie=006600145252443280165547&amp;cid=0&amp;color=blue"></iframe>
                    </div>
                    <div id="MECHAT-PCBTN"
                         style="background: rgb(6, 122, 180) none repeat scroll 0% 0%; display: none;">
                        <span style="color: rgb(255, 255, 255); background-position: 0px -27px;"
                              class="MECHAT-BTNLEAVE">目前客服不在线，请留言并留下您的邮箱</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}