{% extends 'index/base.html' %}
{% load static %}
{% block head %}
<html lang="zh-Hans-CN" prefix="og: http://ogp.me/ns#"
      class="addresses_edit settings signed_in production firefox desktop windows js flexbox canvas canvastext webgl touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths csscalc landscape scrollbar"
      style="">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>个人中心 - 编辑收货地址</title>
    <link href="../static/css/application.css" media="screen" rel="stylesheet"/>
    <link href="../static/css/application_sub.css" media="screen" rel="stylesheet"/>
    <link href="../static/css/settings.css" media="screen" rel="stylesheet"/>
    <script src="../static/js/before_body.js"></script>
    <!--[if lt IE 9]>
  <script>
    var tip = '建议升级您的浏览器（如 Chrome, Firefox）以获得更好的体验！',
        url = 'http://browsehappy.com';

    document.execCommand('stop');
    alert(tip);
    window.location.href = url;
  </script>
<![endif]-->
</head>
{% endblock %}
{% block content %}
<section id="wrapper">
    <main role="main">
        <header class="page-header">
            <h2><i class="fa fa-truck"></i>编辑收货地址</h2>
        </header>
        <form method="post" accept-charset="UTF-8" action="/settings/addresses/54aa9ba531302d42b28c0000"
              id="edit_address_54aa9ba531302d42b28c0000" class="simple_form form city-group">
            <input type="hidden" value="✓" name="utf8"/>
            <input type="hidden" value="patch" name="_method"/>
            <input type="hidden"
                   value="bLl5kUCP1HWpog21D8K1X7Mi6WkrAy6dMItyskFl2L2OLnOVIngdCiUxWokdRGTa8L4dBPqwe5t47z4ytj1bEQ=="
                   name="authenticity_token"/>
            <input type="hidden" id="redirect_from" name="redirect_from"/>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="address_province"><abbr title="require">*</abbr> 省/直辖市</label>
                    <select required="required" class="form-control city-select" id="address_province_code"
                            name="address[province_code]">
                        <option value="">- 省/直辖市 -</option>
                        <option value="110000">北京市</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="address_city"><abbr title="require">*</abbr> 城市</label>
                    <select required="required" class="form-control city-select" id="address_city_code"
                            name="address[city_code]">
                        <option value="">- 城市 -</option>
                        <option value="130100">石家庄市</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="address_district"><abbr title="require">*</abbr> 地区</label>
                    <select required="required" class="form-control city-select" id="address_district_code"
                            name="address[district_code]">
                        <option value="">- 地区 -</option>
                        <option value="130301">市辖区</option>
                        <option value="130302" selected="selected">海港区</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group string required address_street col-md-12">
                    <label for="address_street" class="string required control-label"><abbr title="required">*</abbr>
                        街道地址</label>
                    <input type="text" id="address_street" name="address[street]" value="江苏南京" aria-required="true"
                           required="required" class="string required form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group string required address_name col-md-6">
                    <label for="address_name" class="string required control-label"><abbr title="required">*</abbr> 联系人</label>
                    <input type="text" id="address_name" name="address[name]" value="黄金林" aria-required="true"
                           required="required" class="string required form-control"/>
                </div>
                <div class="form-group tel required address_phone col-md-6">
                    <label for="address_phone" class="tel required control-label"><abbr title="required">*</abbr>
                        电话</label>
                    <input type="tel" id="address_phone" name="address[phone]" value="13851435593" size="11"
                           maxlength="11" aria-required="true" required="required"
                           class="string tel required form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="checkbox boolean optional address_default col-md-12">
                    <input type="hidden" name="address[default]" value="0"/>
                    <label for="address_default" class="boolean optional control-label checkbox"><input type="checkbox"
                                                                                                        id="address_default"
                                                                                                        name="address[default]"
                                                                                                        checked="checked"
                                                                                                        value="1"
                                                                                                        class="boolean optional form-control"/>设为首选</label>
                </div>
            </div>
            <p class="help-block">
                <small>我们暂不能为港澳台用户提供服务。</small>
            </p>
            <input type="submit" class="btn btn-default btn btn-primary" value="更新收货地址" name="commit"/>
            <a href="javascript: history.go(-1)" class="btn">后退</a>
        </form>
    </main>
    <aside>
        <nav role="navigation" id="settings_nav" class="nav--sidebar">
            <div class="nav-group">
                <h4><a href="#nav_account" data-parent="#settings_nav" data-toggle="collapse">账户</a></h4>
                <ul id="nav_account" class="collapse in">
                    <li class=""><a href="/settings/profile"><i class="fa fa-fw fa-user"></i>个人信息</a></li>
                    <li class=""><a href="/settings/account"><i class="fa fa-fw fa-cogs"></i>账户信息</a></li>
                    <li class=""><a href="/settings/notification_settings"><i class="fa fa-fw fa-inbox"></i>通知设置</a>
                    </li>
                    <li class=""><a href="/settings/articles"><i class="fa fa-fw fa-pencil-square"></i>我的文章</a></li>
                    <li class=""><a href="/settings/drafts"><i class="fa fa-fw fa-pencil-square-o"></i>我的草稿</a></li>
                </ul>
            </div>
            <div class="nav-group">
                <h4><a href="#nav_purchase" data-parent="#settings_nav" data-toggle="collapse">购买</a></h4>
                <ul id="nav_purchase" class="collapse in">
                    <li class=""><a href="member_order.html"><i class="fa fa-fw fa-credit-card"></i>我的订单<span
                            class="badge"></span></a></li>
                    <li class=""><a href="/adoptions"><i class="fa fa-fw fa-file-text"></i>领养记录</a></li>
                    <li class=""><a href="/settings/coins"><i class="fa fa-fw fa-money"></i>我的KO币</a></li>
                    <li class=" active"><a href="/settings/addresses"><i class="fa fa-fw fa-truck"></i>收货地址</a></li>
                    <li class=""><a href="/settings/coupons"><i class="fa fa-fw fa-ticket"></i>优惠券</a></li>
                </ul>
            </div>
        </nav>
    </aside>
</section>
<a id="go_top" href="#"><i class="fa fa-angle-up fa-2x"></i></a>
<div class="message-on-top"></div>
<div id="state"></div>
<div class="modals">
    <div id="new-thing-modal" class="modal fade modal--new_thing modal--new_thing-entry">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-plus"></i>分享新产品</h4>
                </div>
                <div class="modal-body clearfix">
                    <button data-toggle="modal" data-target="#new-thing-from-url-modal" data-dismiss="modal"
                            class="btn"><i class="fa fa-globe fa-fw"></i>从网站收集
                    </button>
                    <button id="btn-to-new-local-thing-modal" data-target="#new-thing-from-local" data-dismiss="modal"
                            class="btn"><i class="fa fa-cloud-upload fa-fw"></i>本地上传
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="new-thing-from-url-modal" data-keyboard="false"
         class="modal fade modal--new_thing modal--new_thing-remote">
        <form method="get" data-remote="true" accept-charset="UTF-8" action="/things/extract_url" autocomplete="off"
              id="extract_url_form">
            <input type="hidden" value="✓" name="utf8"/>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" class="close hidden-md" aria-hidden="true">&times;
                        </button>
                        <div class="new-thing-title">
                            <a href="#" data-target="#new-thing-from-local" data-dismiss="modal" class="btn">本地上传</a>
                            <h4>通过网页分享新产品</h4>
                        </div>
                    </div>
                    <div class="modal-body">
                        <input type="url" required="required" placeholder="http://" name="url" id="new-thing-url"
                               class="form-control dark" autofocus="autofocus"/>
                        <div class="alert hidden">
                            很抱歉，这个地址我们不支持，您可以通过
                            <a href="#" data-target="#new-thing-from-local" data-dismiss="modal">本地上传</a> 来分享此产品。
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn--gray">取消</button>
                        <button type="submit" class="btn btn--blue">抓取</button>
                        <div class="using_bm">
                            <a href="#collapseOne" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                               aria-controls="collapseOne">使用书签分享<i class="fa fa-angle-double-down"></i></a>
                            <div role="tabpanel" id="collapseOne" class="panel-collapse collapse"
                                 aria-labelledby="headingOne">
                                <div class="drop_bm">
                                    拖拽到书签栏
                                    <a href="javascript:(function(win,doc,ko){if(win[ko]){win[ko].ui.show();}else{var script=doc.createElement('script');script.id='KO_script';script.setAttribute('charset','utf-8');script.src='https://knewone.com/assets/bookmarklet.js?_c='+Math.floor(+new Date/1e7);doc.body.appendChild(script);}})(window,document,'KO_ROOM');"
                                       class="disabled"> 分享到 KnewOne</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="new-thing-similar-modal" class="modal modal--new_thing modal--new_thing-similiar fade"></div>
    <div role="dialog" id="new_private_message_modal" class="modal fade" aria-labelledby="写私信">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" data-remote="true" accept-charset="UTF-8" action="/dialogs" role="form">
                    <input type="hidden" value="✓" name="utf8"/>
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">写私信</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="dialog_user_id" name="dialog_user_id"/>
                        <div class="form-group field-message-receiver">
         <span class="twitter-typeahead" style="position: relative; display: inline-block;"><input type="text"
                                                                                                   required="required"
                                                                                                   class="form-control tt-hint"
                                                                                                   style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%;"
                                                                                                   disabled=""
                                                                                                   autocomplete="off"
                                                                                                   spellcheck="false"/><input
                 type="text" placeholder="用户昵称" required="required" class="form-control tt-input" id="dialog_user_name"
                 name="dialog_user_name" autocomplete="off" spellcheck="false"
                 style="position: relative; vertical-align: top; background-color: transparent;" dir="auto"/><pre
                 aria-hidden="true"
                 style="position: absolute; visibility: hidden; white-space: nowrap; font-family: Helvetica,Arial,"
                 microsoft="" yahei",sans-serif;="" font-size:="" 14px;="" font-style:="" normal;="" font-variant:="" font-weight:="" 400;="" word-spacing:="" 0px;="" letter-spacing:="" text-indent:="" text-rendering:="" optimizelegibility;="" text-transform:="" none;"=""></pre>
             <span class="tt-dropdown-menu"
                   style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;">
           <div class="tt-dataset-users"></div></span></span>
                        </div>
                        <div id="message-receiver--preset_53bb8b8831302d77db060000"
                             class="form-group message-receiver--preset is-hidden">
                            <div class="conversation media">
                                <div class="media-left pull-left">
                                    <a href="member_index.html?53bb8b8831302d77db060000" target="_blank"><img width="48"
                                                                                                              height="48"
                                                                                                              alt="5185ccad95e0e3aa6243d1b9fcb6dfed"
                                                                                                              src="../static/images/5185ccad95e0e3aa6243d1b9fcb6dfed.png!small"
                                                                                                              class="img-circle"/><span>马文</span></a>
                                </div>
                                <p class="media-body">我的脑容量相当于一颗行星，他们却让我当客服。so.. 需要我帮忙吗？</p>
                            </div>
                        </div>
                        <div class="form-group field-message-content">
                            <textarea placeholder="内容" required="required" class="form-control" rows="5"
                                      id="dialog_content" name="dialog_content"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn--gray">取消</button>
                        <button type="submit" class="btn btn--blue">发送</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="share_modal" class="modal fade share-modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" class="close">&times;</button>
                    <h4 class="modal-title">分享</h4>
                </div>
                <div class="modal-body">
                    <section class="box">
                        <h5>绑定第三方账号</h5>
                        <p>
                            <a href="member_index.html?auth/weibo?state=%2Fsettings%2Faddresses%2F54aa9ba531302d42b28c0000"
                               class="share-button oauth"><i class="fa fa-weibo fa-4x"></i></a></p>
                    </section>
                    <section class="box">
                        <h5>直接分享</h5>
                        <p><a href="#socialshare_wechat_modal" data-label="阿斗" data-action="wechat"
                              data-category="share" data-toggle="modal" class="share-button js-share--wechat"
                              title="微信朋友圈分享"><i class="fa fa-weixin fa-4x"></i></a><a
                                href="http://widget.renren.com/dialog/share?link=https://knewone.com/settings/addresses/54aa9ba531302d42b28c0000"
                                title="分享到人人网" target="_blank" class="share-button"><i
                                class="fa fa-renren fa-4x"></i></a></p>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div tabindex="-1" role="dialog" id="socialshare_wechat_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" class="close"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">扫描二维码分享到微信</h4>
                </div>
                <div class="modal-body">
                    <div class="qrcode">
                        <img role="dialog" id="fallback_help_modal" class="modal fade" aria-hidden="true"/>
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">&times;</span><span
                                            class="sr-only">Close</span></button>
                                    <h4 class="modal-title">和我们聊天</h4>
                                </div>
                                <div class="modal-body">
                                    <p>抱歉，客服系统现在繁忙。请邮件留言至邮箱&nbsp;<a href="mailto:help@knewone.com" target="_blank">help@knewone.com</a>&nbsp;，或私信账号“KnewOne销售”，我们将尽快给予回复。不便之处，敬请谅解！
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="site_maps hidden">
                    <a href="/maps/things">产品</a>
                    <a href="/maps/reviews">评测</a>
                    <a href="/maps/groups">小组</a>
                    <a href="/maps/topics">帖子</a>
                    <a href="/maps/categories">分类</a>
                    <a href="/maps/entries">发现</a>
                </div>
                <script src="../static/js/vendor.js"></script>
                <script src="../static/js/application.js"></script>
                <!--      <script>Making.validatePhone('[name="address[phone]"]');</script>
                      <script type="text/javascript">
                //<![CDATA[
                $(function() { Making.start(['Addresses', 'AddressesEdit']) });
                //]]>
                </script>-->
                <div id="fancy-modal-container"></div>
                <div id="add-to-list-modal-container"></div>
                <div class="atwho-container">
                    <div id="atwho-ground-dialog_content">
                        <div class="atwho-view" id="at-view-64">
                            <ul class="atwho-view-ul"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}