{% extends 'index/base.html' %}
{% load static %}
{% block head %}
<html lang="zh-Hans-CN" prefix="og: http://ogp.me/ns#"
      class="notifications_index signed_in production firefox desktop windows js flexbox canvas canvastext webgl touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths csscalc landscape scrollbar"
      style="margin-right: 0px;">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>个人中心 - 我的消息</title>
    <link href="{% static 'css/application.css' %}" media="screen" rel="stylesheet"/>
    <link href="{% static 'css/application_sub.css' %}" media="screen" rel="stylesheet"/>
    <link href="{% static 'css/notifications.css' %}" media="screen" rel="stylesheet"/>
    <script src="{% static 'js/before_body.js' %}"></script>
    <!--[if lt IE 9]>
  <script>
    var tip = '建议升级您的浏览器（如 Chrome, Firefox）以获得更好的体验！',
        url = 'http://browsehappy.com';

    document.execCommand('stop');
    alert(tip);
    window.location.href = url;
  </script>
<![endif]-->
</head>
{% endblock %}
{% block content %}
<section id="wrapper">
    <header class="page-header">
        <h1><i class="fa fa-bell-o"></i>我的消息</h1>
    </header>
    <ul class="notifications">
        <li class="read "><a href="member_index.html?5639bf2152255a3f6800008f" target="_self">ElephantG</a> 在我加入的小组<a
                href="topic_detail.html?541821d931302d76760f0000"> Better bong </a>中发表了新帖<a
                href="topic_detail.html?541821d931302d76760f0000/topics/565c2f13102b53530000004d"> 吖吖</a>
            <time data-time-ago="2015-11-30T19:12:31+08:00" class="timeago" title="2015-11-30 19:12:31"
                  datetime="2015-11-30T19:12:31+08:00">1个月前
            </time>
        </li>
        <li class="read unopened"><a href="member_index.html?55817bd231302d08ecc11100" target="_self">ronaldhjp</a>
            在我加入的小组<a href="topic_detail.html?541821d931302d76760f0000"> Better bong </a>中发表了新帖<a
                    href="topic_detail.html?541821d931302d76760f0000/topics/560fd4a4b3ced632e300047f"> 新来报道，求推荐产品</a>
            <time data-time-ago="2015-10-03T21:14:20+08:00" class="timeago" title="2015-10-03 21:14:20"
                  datetime="2015-10-03T21:14:20+08:00">3个月前
            </time>
        </li>
        <li class="read unopened"><a href="member_index.html?52f2497531302d21b4dd0300" target="_self">AlejandroPJ</a>
            在我加入的小组<a href="topic_detail.html?541821d931302d76760f0000"> Better bong </a>中发表了新帖<a
                    href="topic_detail.html?541821d931302d76760f0000/topics/560aa31e12d1eb306c000387"> 又爱又恨</a>
            <time data-time-ago="2015-09-29T22:41:51+08:00" class="timeago" title="2015-09-29 22:41:51"
                  datetime="2015-09-29T22:41:51+08:00">3个月前
            </time>
        </li>
        <li class="read unopened"><a href="member_index.html?558190d531302d515bfd0100" target="_self">好风光钢结构@douban</a>
            在我加入的小组<a href="topic_detail.html?541821d931302d76760f0000"> Better bong </a>中发表了新帖<a
                    href="topic_detail.html?541821d931302d76760f0000/topics/55e7dca84a98e0004d0001ac"> bong 的实用性怎么样？</a>
            <time data-time-ago="2015-09-03T13:38:28+08:00" class="timeago" title="2015-09-03 13:38:28"
                  datetime="2015-09-03T13:38:28+08:00">4个月前
            </time>
        </li>
        <li class="read "><a href="member_index.html?53e3220231302d370c940100" target="_self">一路领先</a> 在我加入的小组<a
                href="topic_detail.html?541821d931302d76760f0000"> Better bong </a>中发表了新帖<a
                href="topic_detail.html?541821d931302d76760f0000/topics/55d5961d22edb62745000272"> bong 的兑换券怎么用？</a>
            <time data-time-ago="2015-08-20T16:59:55+08:00" class="timeago" title="2015-08-20 16:59:55"
                  datetime="2015-08-20T16:59:55+08:00">5个月前
            </time>
        </li>
        <li class="read unopened"><a href="member_index.html?53041a7431302d6d15480000" target="_self">HalZhang</a>
            在我加入的小组<a href="topic_detail.html?541821d931302d76760f0000"> Better bong </a>中发表了新帖<a
                    href="topic_detail.html?541821d931302d76760f0000/topics/55c5cd5a31302d7672040b00"> bong，把自己做死</a>
            <time data-time-ago="2015-08-08T17:36:38+08:00" class="timeago" title="2015-08-08 17:36:38"
                  datetime="2015-08-08T17:36:38+08:00">5个月前
            </time>
        </li>
        <li class="read unopened"><a href="member_index.html?54f4837b31302d13e6510000" target="_self">欧洲的微博</a>
            在我加入的小组<a href="topic_detail.html?541821d931302d76760f0000"> Better bong </a>中发表了新帖<a
                    href="topic_detail.html?541821d931302d76760f0000/topics/55ad7db131302d5fb5400800"> 电池没电了，要买电池，bong
                商店却没货。。</a>
            <time data-time-ago="2015-07-21T07:01:15+08:00" class="timeago" title="2015-07-21 07:01:15"
                  datetime="2015-07-21T07:01:15+08:00">6个月前
            </time>
        </li>
        <li class="read unopened"><a href="member_index.html?53ead5a931302d71c2790100" target="_self">飞不动的鱼</a>
            在我加入的小组<a href="topic_detail.html?541821d931302d76760f0000"> Better bong </a>中发表了新帖<a
                    href="topic_detail.html?541821d931302d76760f0000/topics/559e372f31302d0e9c780100"> BongII 运动脚带</a>
            <time data-time-ago="2015-07-09T16:56:25+08:00" class="timeago" title="2015-07-09 16:56:25"
                  datetime="2015-07-09T16:56:25+08:00">6个月前
            </time>
        </li>
        <li class="read unopened"><a href="member_index.html?53d8abd231302d31fd5c0100" target="_self">赵今</a> 在我加入的小组<a
                href="topic_detail.html?541821d931302d76760f0000"> Better bong </a>中发表了新帖<a
                href="topic_detail.html?541821d931302d76760f0000/topics/5582a54431302d454bfa0000"> Smartlock 开启方法</a>
            <time data-time-ago="2015-06-18T19:02:41+08:00" class="timeago" title="2015-06-18 19:02:41"
                  datetime="2015-06-18T19:02:41+08:00">7个月前
            </time>
        </li>
        <li class="read unopened"><a href="member_index.html?5469b57d31302d32e92f0000" target="_self">Vionna@bong</a>
            在我加入的小组<a href="topic_detail.html?541821d931302d76760f0000"> Better bong </a>中发表了新帖<a
                    href="topic_detail.html?541821d931302d76760f0000/topics/556148a331302d7f3cab1800"> 我的 bong2
                寄回去两周了，还没有任何信息</a>
            <time data-time-ago="2015-05-24T11:42:37+08:00" class="timeago" title="2015-05-24 11:42:37"
                  datetime="2015-05-24T11:42:37+08:00">8个月前
            </time>
        </li>
        <li class="read unopened"><a href="member_index.html?5521439731302d3d7d561000" target="_self">c8d61a@bong</a>
            在我加入的小组<a href="topic_detail.html?541821d931302d76760f0000"> Better bong </a>中发表了新帖<a
                    href="topic_detail.html?541821d931302d76760f0000/topics/555c740a31302d0f3eb00100"> 售后新换的
                bongII，保修时间怎么算！</a>
            <time data-time-ago="2015-05-20T19:46:26+08:00" class="timeago" title="2015-05-20 19:46:26"
                  datetime="2015-05-20T19:46:26+08:00">8个月前
            </time>
        </li>
        <li class="read unopened"><a href="member_index.html?5482682831302d5264ee0200" target="_self">szowenlin</a>
            在我加入的小组<a href="topic_detail.html?541821d931302d76760f0000"> Better bong </a>中发表了新帖<a
                    href="topic_detail.html?541821d931302d76760f0000/topics/553e451731302d777ffc0000"> 打算出了手头上的两个
                bong2，都是跑男限量版的</a>
            <time data-time-ago="2015-04-27T22:18:19+08:00" class="timeago" title="2015-04-27 22:18:19"
                  datetime="2015-04-27T22:18:19+08:00">9个月前
            </time>
        </li>
        <li class="read unopened"><a href="member_index.html?5482682831302d5264ee0200" target="_self">szowenlin</a>
            在我加入的小组<a href="topic_detail.html?541821d931302d76760f0000"> Better bong </a>中发表了新帖<a
                    href="topic_detail.html?541821d931302d76760f0000/topics/553c397031302d34915c0000">
                七星会员到底是一个什么神秘的群体。。</a>
            <time data-time-ago="2015-04-26T09:03:55+08:00" class="timeago" title="2015-04-26 09:03:55"
                  datetime="2015-04-26T09:03:55+08:00">9个月前
            </time>
        </li>
        <li class="read unopened"><a href="member_index.html?54c86e5a31302d0d6d430000" target="_self">09948d@bong</a>
            在我加入的小组<a href="topic_detail.html?541821d931302d76760f0000"> Better bong </a>中发表了新帖<a
                    href="topic_detail.html?541821d931302d76760f0000/topics/5537255c31302d42c46b0000"> 对你们这个产品和售后无语了</a>
            <time data-time-ago="2015-04-22T12:36:55+08:00" class="timeago" title="2015-04-22 12:36:55"
                  datetime="2015-04-22T12:36:55+08:00">9个月前
            </time>
        </li>
        <li class="read unopened"><a href="member_index.html?529766e4b10be51bd40000c4" target="_self">KenGe</a>
            在我加入的小组<a href="topic_detail.html?541821d931302d76760f0000"> Better bong </a>中发表了新帖<a
                    href="topic_detail.html?541821d931302d76760f0000/topics/55213aa431302d3d84f11000"> 411，我们杭州面基~Better
                bong</a>
            <time data-time-ago="2015-04-05T21:37:51+08:00" class="timeago" title="2015-04-05 21:37:51"
                  datetime="2015-04-05T21:37:51+08:00">9个月前
            </time>
        </li>
    </ul>
    <footer class="page-footer">
        <ul class="pagination">
            <li class="active"><a href="#">1</a></li>
            <li class=""><a href="/notifications?page=2" rel="next">2</a></li>
            <li class=""><a href="/notifications?page=3">3</a></li>
            <li class=""><a href="/notifications?page=4">4</a></li>
            <li class=""><a href="/notifications?page=5">5</a></li>
            <li class="disabled"><a href="#">...</a></li>
            <li><a href="/notifications?page=2" rel="next">›</a></li>
            <li><a href="/notifications?page=7">&raquo;</a></li>
        </ul>
    </footer>
</section>
<a id="go_top" href="#" style="right: 5%;"><i class="fa fa-angle-up fa-2x"></i></a>
<div class="message-on-top"></div>
<div id="state"></div>
<div class="modals">
    <div id="new-thing-modal" class="modal fade modal--new_thing modal--new_thing-entry">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-plus"></i>分享新产品</h4>
                </div>
                <div class="modal-body clearfix">
                    <button data-toggle="modal" data-target="#new-thing-from-url-modal" data-dismiss="modal"
                            class="btn"><i class="fa fa-globe fa-fw"></i>从网站收集
                    </button>
                    <button id="btn-to-new-local-thing-modal" data-target="#new-thing-from-local" data-dismiss="modal"
                            class="btn"><i class="fa fa-cloud-upload fa-fw"></i>本地上传
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="new-thing-from-url-modal" data-keyboard="false"
         class="modal fade modal--new_thing modal--new_thing-remote">
        <form method="get" data-remote="true" accept-charset="UTF-8" action="/things/extract_url" autocomplete="off"
              id="extract_url_form">
            <input type="hidden" value="✓" name="utf8"/>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" class="close hidden-md" aria-hidden="true">&times;
                        </button>
                        <div class="new-thing-title">
                            <a href="#" data-target="#new-thing-from-local" data-dismiss="modal" class="btn">本地上传</a>
                            <h4>通过网页分享新产品</h4>
                        </div>
                    </div>
                    <div class="modal-body">
                        <input type="url" required="required" placeholder="http://" name="url" id="new-thing-url"
                               class="form-control dark" autofocus="autofocus"/>
                        <div class="alert hidden">
                            很抱歉，这个地址我们不支持，您可以通过
                            <a href="#" data-target="#new-thing-from-local" data-dismiss="modal">本地上传</a> 来分享此产品。
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn--gray">取消</button>
                        <button type="submit" class="btn btn--blue">抓取</button>
                        <div class="using_bm">
                            <a href="#collapseOne" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                               aria-controls="collapseOne">使用书签分享<i class="fa fa-angle-double-down"></i></a>
                            <div role="tabpanel" id="collapseOne" class="panel-collapse collapse"
                                 aria-labelledby="headingOne">
                                <div class="drop_bm">
                                    拖拽到书签栏
                                    <a href="javascript:(function(win,doc,ko){if(win[ko]){win[ko].ui.show();}else{var script=doc.createElement('script');script.id='KO_script';script.setAttribute('charset','utf-8');script.src='https://knewone.com/assets/bookmarklet.js?_c='+Math.floor(+new Date/1e7);doc.body.appendChild(script);}})(window,document,'KO_ROOM');"
                                       class="disabled"> 分享到 KnewOne</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="new-thing-similar-modal" class="modal modal--new_thing modal--new_thing-similiar fade"></div>
    <div role="dialog" id="new_private_message_modal" class="modal fade" aria-labelledby="写私信">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" data-remote="true" accept-charset="UTF-8" action="/dialogs" role="form">
                    <input type="hidden" value="✓" name="utf8"/>
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">写私信</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="dialog_user_id" name="dialog_user_id"/>
                        <div class="form-group field-message-receiver">
         <span class="twitter-typeahead" style="position: relative; display: inline-block;"><input type="text"
                                                                                                   required="required"
                                                                                                   class="form-control tt-hint"
                                                                                                   style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%;"
                                                                                                   disabled=""
                                                                                                   autocomplete="off"
                                                                                                   spellcheck="false"/><input
                 type="text" placeholder="用户昵称" required="required" class="form-control tt-input" id="dialog_user_name"
                 name="dialog_user_name" autocomplete="off" spellcheck="false"
                 style="position: relative; vertical-align: top; background-color: transparent;" dir="auto"/><pre
                 aria-hidden="true"
                 style="position: absolute; visibility: hidden; white-space: nowrap; font-family: Helvetica,Arial,"
                 microsoft="" yahei",sans-serif;="" font-size:="" 14px;="" font-style:="" normal;="" font-variant:="" font-weight:="" 400;="" word-spacing:="" 0px;="" letter-spacing:="" text-indent:="" text-rendering:="" optimizelegibility;="" text-transform:="" none;"=""></pre>
             <span class="tt-dropdown-menu"
                   style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;">
           <div class="tt-dataset-users"></div></span></span>
                        </div>
                        <div id="message-receiver--preset_53bb8b8831302d77db060000"
                             class="form-group message-receiver--preset is-hidden">
                            <div class="conversation media">
                                <div class="media-left pull-left">
                                    <a href="member_index.html?53bb8b8831302d77db060000" target="_blank"><img width="48"
                                                                                                              height="48"
                                                                                                              alt="5185ccad95e0e3aa6243d1b9fcb6dfed"
                                                                                                              src="../static/images/5185ccad95e0e3aa6243d1b9fcb6dfed.png!small"
                                                                                                              class="img-circle"/><span>马文</span></a>
                                </div>
                                <p class="media-body">我的脑容量相当于一颗行星，他们却让我当客服。so.. 需要我帮忙吗？</p>
                            </div>
                        </div>
                        <div class="form-group field-message-content">
                            <textarea placeholder="内容" required="required" class="form-control" rows="5"
                                      id="dialog_content" name="dialog_content"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn--gray">取消</button>
                        <button type="submit" class="btn btn--blue">发送</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="share_modal" class="modal fade share-modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" class="close">&times;</button>
                    <h4 class="modal-title">分享</h4>
                </div>
                <div class="modal-body">
                    <section class="box">
                        <h5>绑定第三方账号</h5>
                        <p><a href="member_index.html?auth/weibo?state=%2Fnotifications" class="share-button oauth"><i
                                class="fa fa-weibo fa-4x"></i></a></p>
                    </section>
                    <section class="box">
                        <h5>直接分享</h5>
                        <p><a href="#socialshare_wechat_modal" data-label="阿斗" data-action="wechat"
                              data-category="share" data-toggle="modal" class="share-button js-share--wechat"
                              title="微信朋友圈分享"><i class="fa fa-weixin fa-4x"></i></a><a
                                href="http://widget.renren.com/dialog/share?link=https://knewone.com/notifications"
                                title="分享到人人网" target="_blank" class="share-button"><i
                                class="fa fa-renren fa-4x"></i></a></p>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div tabindex="-1" role="dialog" id="socialshare_wechat_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" class="close"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">扫描二维码分享到微信</h4>
                </div>
                <div class="modal-body">
                    <div class="qrcode">
                        <img role="dialog" id="fallback_help_modal" class="modal fade" aria-hidden="true"/>
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">&times;</span><span
                                            class="sr-only">Close</span></button>
                                    <h4 class="modal-title">和我们聊天</h4>
                                </div>
                                <div class="modal-body">
                                    <p>抱歉，客服系统现在繁忙。请邮件留言至邮箱&nbsp;<a href="mailto:help@knewone.com" target="_blank">help@knewone.com</a>&nbsp;，或私信账号“KnewOne销售”，我们将尽快给予回复。不便之处，敬请谅解！
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="site_maps hidden">
                    <a href="/maps/things">产品</a>
                    <a href="/maps/reviews">评测</a>
                    <a href="/maps/groups">小组</a>
                    <a href="/maps/topics">帖子</a>
                    <a href="/maps/categories">分类</a>
                    <a href="/maps/entries">发现</a>
                </div>
                <script src="../static/js/vendor.js"></script>
                <script src="../static/js/application.js"></script>
                <!--      <script type="text/javascript">
                //<![CDATA[
                $(function() { Making.start(['Notifications', 'NotificationsIndex']) });
                //]]>
                </script>-->
                <div id="fancy-modal-container"></div>
                <div id="add-to-list-modal-container"></div>
                <div class="atwho-container">
                    <div id="atwho-ground-dialog_content">
                        <div class="atwho-view" id="at-view-64">
                            <ul class="atwho-view-ul"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}