{% extends 'index/base.html' %}
{% load static %}
{% block head %}
<html lang="zh-Hans-CN" prefix="og: http://ogp.me/ns#"
      class="things_activities signed_out production firefox desktop windows js flexbox canvas canvastext webgl touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths csscalc landscape scrollbar"
      style="">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>产品 - 动态</title>
    <link href="{% static 'css/application.css' %}" media="screen" rel="stylesheet"/>
    <link href="{% static 'css/application_sub.css' %}" media="screen" rel="stylesheet"/>
    <link href="../static/css/things.css" media="screen" rel="stylesheet"/>
    <script src="{% static 'js/before_body.js' %}"></script>
    <!--[if lt IE 9]>
  <script>
    var tip = '建议升级您的浏览器（如 Chrome, Firefox）以获得更好的体验！',
        url = 'http://browsehappy.com';

    document.execCommand('stop');
    alert(tip);
    window.location.href = url;
  </script>
<![endif]-->
    <style type="text/css">#MECHAT-PCBTN {
        font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        position: fixed;
        bottom: -100%;
        background: #1abc9c;
        color: #fff;
        text-align: center;
        padding: 10px 15px 8px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;
        z-index: 2147483645;
    }

    #MECHAT-PCBTN span {
        display: inline-block;
        height: 24px;
        padding: 0 0 0 34px;
        background: url(../static/images/pc_btn_icon.png ") 0 0 no-repeat}#MECHAT-LAYOUT{position:fixed;right:80px;bottom:-100%;width:300px;height:430px;z-index:2147483647; overflow:hidden;background: #fff;border:1px solid #1abc9c;border-top-left-radius:5px;border-top-right-radius:5px;box-shadow:0 0 3px 2px rgba(135,135,135,0.1)}#MECHAT-PCBTN,#MECHAT-LAYOUT{_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))}</style>
</head>
{% endblock %}
{% block content %}
<section id="wrapper">
    <div itemtype="http://schema.org/Product" itemscope="" class="container">
        <main>
            <div id="thing_content">
                <div id="thing_title">
                    <h1 itemprop="name"><a href="discover_detail.html?less-fu-gu-shou-gong-niu-pi-ben">LESS 复古手工牛皮本</a>
                    </h1>
                    <h2 itemprop="description">从裁剪到烫印，完全手工制作</h2>
                </div>
                <nav id="thing-top_nav" class="hidden-xs">
                    <ul class="nav nav--tabs nav--justified">
                        <li class=""><a href="discover_detail.html?less-fu-gu-shou-gong-niu-pi-ben">产品</a></li>
                        <li class=""><a
                                href="discover_detail.html?less-fu-gu-shou-gong-niu-pi-ben/reviews">评测<span></span></a>
                        </li>
                        <li class=""><a href="discover_detail.html?less-fu-gu-shou-gong-niu-pi-ben/discussions">讨论<span>2</span></a>
                        </li>
                        <li class=" active"><a
                                href="discover_detail.html?less-fu-gu-shou-gong-niu-pi-ben/activities">动态</a></li>
                    </ul>
                </nav>
                <section class="things_subpage">
                    <header class="clearfix">
                        <form method="get" accept-charset="UTF-8"
                              action="/things/less-fu-gu-shou-gong-niu-pi-ben/activities" class="form-inline">
                            <input type="hidden" value="✓" name="utf8"/>
                            <div class="form-group">
                                <i class="fa fa-eye select_label"></i>
                                <select class="form-control js_auto_submit" id="type" name="type">
                                    <option value="">显示全部</option>
                                    <option value="fancy_thing">显示喜欢</option>
                                    <option value="desire_thing">显示想要</option>
                                    <option value="own_thing">显示拥有</option>
                                    <option value="add_to_list">显示加入列表</option>
                                </select>
                            </div>
                        </form>
                    </header>
                    <div class="activities list">
                        <article class="activity_feed">
                            <a href="member_index.html?5437a3ee31302d71e9af0000"
                               data-profile-popover="5437a3ee31302d71e9af0000" title="FAMI" target="_blank"
                               class="user_avatar"><img
                                    src="../static/images/adaac4f3a1c4e96883bd1a68a97756f5.jpg!small" alt="FAMI"/><span
                                    class="user_avatar-name">FAMI</span></a>
                            <section>
                                <p><span class="fancied"><i class="fa fa-heart"></i>喜欢</span>此产品</p>
                                <aside>
                                    <time data-time-ago="2016-01-11T21:01:15+08:00" class="timeago"
                                          title="2016-01-11 21:01:15" datetime="2016-01-11T21:01:15+08:00">2小时前
                                    </time>
                                </aside>
                            </section>
                        </article>
                        <article class="activity_feed">
                            <a href="member_index.html?536cd62231302d3ba0930300"
                               data-profile-popover="536cd62231302d3ba0930300" title="WhongN" target="_blank"
                               class="user_avatar"><img
                                    src="../static/images/50e7bd48feb6392ef3a4ff64d27104fe.jpg!small"
                                    alt="WhongN"/><span class="user_avatar-name">WhongN</span></a>
                            <section>
                                <p><span class="fancied"><i class="fa fa-heart"></i>喜欢</span>此产品</p>
                                <aside>
                                    <time data-time-ago="2016-01-11T20:36:05+08:00" class="timeago"
                                          title="2016-01-11 20:36:05" datetime="2016-01-11T20:36:05+08:00">2小时前
                                    </time>
                                </aside>
                            </section>
                        </article>
                        <article class="activity_feed">
                            <a href="member_index.html?5496770431302d0e92630300"
                               data-profile-popover="5496770431302d0e92630300" title="Timothyo0" target="_blank"
                               class="user_avatar"><img src="../static/images/17.png" alt="Timothyo0"/><span
                                    class="user_avatar-name">Timothyo0</span></a>
                            <section>
                                <p><span class="fancied"><i class="fa fa-heart"></i>喜欢</span>此产品</p>
                                <aside>
                                    <time data-time-ago="2016-01-11T19:49:06+08:00" class="timeago"
                                          title="2016-01-11 19:49:06" datetime="2016-01-11T19:49:06+08:00">3小时前
                                    </time>
                                </aside>
                            </section>
                        </article>
                        <article class="activity_feed">
                            <a href="member_index.html?53d95e3331302d676f690100"
                               data-profile-popover="53d95e3331302d676f690100" title="Freakyle" target="_blank"
                               class="user_avatar"><img
                                    src="../static/images/ccbef3aa1ed24e428442410f769f9049.jpg!small"
                                    alt="Freakyle"/><span class="user_avatar-name">Freakyle</span></a>
                            <section>
                                <p><span class="fancied"><i class="fa fa-heart"></i>喜欢</span>此产品</p>
                                <aside>
                                    <time data-time-ago="2016-01-11T18:52:28+08:00" class="timeago"
                                          title="2016-01-11 18:52:28" datetime="2016-01-11T18:52:28+08:00">4小时前
                                    </time>
                                </aside>
                            </section>
                        </article>
                        <article class="activity_feed">
                            <a href="member_index.html?52d2a4c531302d7e5d400000"
                               data-profile-popover="52d2a4c531302d7e5d400000" title="Lu" target="_blank"
                               class="user_avatar"><img
                                    src="../static/images/3a79988f2af12f51afeb78695ea7dbc0.jpg!small" alt="Lu"/><span
                                    class="user_avatar-name">Lu</span></a>
                            <section>
                                <p><span class="fancied"><i class="fa fa-heart"></i>喜欢</span>此产品</p>
                                <aside>
                                    <time data-time-ago="2016-01-11T18:31:02+08:00" class="timeago"
                                          title="2016-01-11 18:31:02" datetime="2016-01-11T18:31:02+08:00">5小时前
                                    </time>
                                </aside>
                            </section>
                        </article>
                        <article class="activity_feed">
                            <a href="member_index.html?52dd3ae931302d267bd10100"
                               data-profile-popover="52dd3ae931302d267bd10100" title="MeggeryWang" target="_blank"
                               class="user_avatar"><img
                                    src="../static/images/114A31A209F64D2A9FD0A3BCEBC63951.jpg!small"
                                    alt="MeggeryWang"/><span class="user_avatar-name">MeggeryWang</span></a>
                            <section>
                                <p><span class="fancied"><i class="fa fa-heart"></i>喜欢</span>此产品</p>
                                <aside>
                                    <time data-time-ago="2016-01-11T18:29:09+08:00" class="timeago"
                                          title="2016-01-11 18:29:09" datetime="2016-01-11T18:29:09+08:00">5小时前
                                    </time>
                                </aside>
                            </section>
                        </article>
                        <article class="activity_feed">
                            <a href="member_index.html?556dbc2c31302d1234c30600"
                               data-profile-popover="556dbc2c31302d1234c30600" title="大厨麦克下次要去大理" target="_blank"
                               class="user_avatar"><img
                                    src="../static/images/08d56afb3c8a48c74dec8e7d3e68ac80.jpg!small" alt="大厨麦克下次要去大理"/><span
                                    class="user_avatar-name">大厨麦克下次要去大理</span></a>
                            <section>
                                <p><span class="fancied"><i class="fa fa-heart"></i>喜欢</span>此产品</p>
                                <aside>
                                    <time data-time-ago="2016-01-11T18:10:23+08:00" class="timeago"
                                          title="2016-01-11 18:10:23" datetime="2016-01-11T18:10:23+08:00">5小时前
                                    </time>
                                </aside>
                            </section>
                        </article>
                    </div>
                </section>
            </div>
        </main>
        <aside>
            <div id="thing_actions" class="thing_actions visible-md visible-lg">
                <ul class="actions clearfix">
                    <li class="fanciers"><a href="#" data-label="LESS 复古手工牛皮本" data-action="fancy" data-category="thing"
                                            data-signin-legend="登录后，收集喜欢的产品"
                                            data-link="https://knewone.com/things/less-fu-gu-shou-gong-niu-pi-ben"
                                            data-target="#login-modal" data-toggle="modal" title="喜欢此产品"
                                            class="unfancied"><i class="fa fa-heart-o"></i><span class="fanciers_count">8</span>
                        <small>喜欢</small>
                    </a></li>
                    <li class="owners"><a href="#" data-label="LESS 复古手工牛皮本" data-action="own" data-category="thing"
                                          data-signin-legend="登录后，标注拥有的产品" data-target="#login-modal"
                                          data-toggle="modal" title="拥有此产品" class="unowned"><i
                            class="fa fa-circle-o"></i><span class="owners_count">0</span>
                        <small>拥有</small>
                    </a></li>
                    <li><a href="#socialshare_wechat_modal" data-label="LESS 复古手工牛皮本" data-action="wechat"
                           data-category="share" data-toggle="modal" class="btn share_btn  js-share" title="分享"><i
                            class="fa fa-share-alt"></i>分享</a></li>
                    <li class="add_to_list"><a href="#login-modal" data-signin-legend="登录后，把产品加入列表" data-toggle="modal"
                                               class="add_to_list" title="加入列表"><i class="fa fa-list-ko"></i>加入列表</a>
                    </li>
                </ul>
                <div class="others clearfix">
                    <div class="related clearfix"></div>
                </div>
            </div>
            <div id="thing_impressions"></div>
        </aside>
    </div>
</section>
<a id="go_top" href="#"><i class="fa fa-angle-up fa-2x"></i></a>
<div class="message-on-top"></div>
<div class="modals">
    <div id="login-modal" class="modal fade">
        <div class="modal-dialog_wrapper">
            <div class="modal-dialog modal-dialog--front modal-dialog--signin">
                <div class="modal-content">
                    <button type="button" data-dismiss="modal" class="close"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="modal-body">
                        <form method="post" data-remote="true" accept-charset="UTF-8"
                              action="/users/sign_in?redirect_from=%2Fthings%2Fless-fu-gu-shou-gong-niu-pi-ben%2Factivities"
                              class="simple_form new_user" id="signin_form" novalidate="true">
                            <input type="hidden" value="✓" name="utf8"/>
                            <legend>登录</legend>
                            <div class="form-main">
                                <div class="form-group col-sm-6">
                                    <label class="sr-only">邮件地址</label>
                                    <input type="email" id="user_email" name="user[email]" data-message-error="邮箱格式错误"
                                           class="form-control" placeholder="邮件地址" required="required"
                                           data-event="validate"/>
                                    <span class="button--clear fa fa-times"></span>
                                    <ul class="help-block"></ul>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="sr-only">密码</label>
                                    <input type="password" id="user_password" name="user[password]" class="form-control"
                                           placeholder="密码" required="required" data-event="validate"/>
                                    <span class="button--clear fa fa-times"></span>
                                    <ul class="help-block"></ul>
                                </div>
                                <input type="hidden" id="redirect_from" name="redirect_from"/>
                            </div>
                            <div class="form-group addon clearfix">
                                <div id="remember_me" class="checkbox pull-left">
                                    <label><input type="hidden" value="0" name="user[remember_me]"/><input
                                            type="checkbox" id="user_remember_me" name="user[remember_me]"
                                            checked="checked" value="1"/>记住我</label>
                                </div>
                                <a href="#find_password_modal" data-dismiss="modal" data-toggle="modal"
                                   class="pull-right"><i class="fa fa-question-circle"></i>忘记密码？</a>
                            </div>
                            <div id="sign_in_alert_field" class="form-group form-results hidden">
                                用户名或密码错误，请重新输入
                            </div>
                            <div class="form-group form-actions">
                                <input type="submit" data-label="email" data-action="login" data-category="user"
                                       class="btn btn--blue_light" value="登录" name="commit"/>
                            </div>
                        </form>
                        <section class="auth">
                            <h6>使用社交账号登录</h6>
                            <p>
                                <a href="member_index.html?auth/wechat_web?state=%2Fthings%2Fless-fu-gu-shou-gong-niu-pi-ben%2Factivities"
                                   data-label="wechat" data-action="login" data-category="user" title="用微信登录"
                                   class="btn btn--icon btn--blue_light"><i class="fa fa-weixin"></i></a><a
                                    href="member_index.html?auth/weibo?state=%2Fthings%2Fless-fu-gu-shou-gong-niu-pi-ben%2Factivities"
                                    data-label="weibo" data-action="login" data-category="user" title="用微博登录"
                                    class="btn btn--icon btn--blue_light"><i class="fa fa-weibo"></i></a><a
                                    href="member_index.html?auth/qq_connect?state=%2Fthings%2Fless-fu-gu-shou-gong-niu-pi-ben%2Factivities"
                                    data-label="qq" data-action="login" data-category="user" title="用 QQ 登录"
                                    class="btn btn--icon btn--blue_light"><i class="fa fa-qq"></i></a><a
                                    href="member_index.html?auth/douban?state=%2Fthings%2Fless-fu-gu-shou-gong-niu-pi-ben%2Factivities"
                                    data-label="douban" data-action="login" data-category="user" title="用豆瓣登录"
                                    class="btn btn--icon btn--blue_light"><i class="fa fa-douban-ko"></i></a><a
                                    href="member_index.html?auth/bong?state=%2Fthings%2Fless-fu-gu-shou-gong-niu-pi-ben%2Factivities"
                                    data-label="bong" data-action="login" data-category="user" title="用 bong 登录"
                                    class="btn btn--icon btn--blue_light"><i class="fa fa-bong-ko"></i></a></p>
                        </section>
                        <footer class="section-footer">
                            <a href="#" class="modal-flipper">注册<em class="logo">KnewOne</em><i
                                    class="fa fa-angle-right"></i></a>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="modal-dialog modal-dialog--back modal-dialog--signup">
                <div class="modal-content">
                    <button type="button" data-dismiss="modal" class="close"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="modal-body">
                        <form method="post" data-remote="true" accept-charset="UTF-8" action="/users"
                              class="simple_form new_user" id="signup_form" novalidate="true">
                            <input type="hidden" value="✓" name="utf8"/>
                            <legend>注册</legend>
                            <div class="form-main">
                                <div class="form-group col-sm-6">
                                    <label for="user_name" class="sr-only">昵称</label>
                                    <input type="text" id="user_name" name="user[name]" value="" size="16"
                                           data-message-error="昵称必须少于 16 个字符" maxlength="16" required="required"
                                           class="form-control" placeholder="昵称（少于 16 个字符）" data-event="validate"/>
                                    <span class="button--clear fa fa-times"></span>
                                    <ul class="help-block"></ul>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="user_email" class="sr-only">邮件地址</label>
                                    <input type="email" id="user_email" name="user[email]" data-message-error="邮箱格式错误"
                                           required="required" class="form-control" placeholder="邮件地址"
                                           data-event="validate"/>
                                    <span class="button--clear fa fa-times"></span>
                                    <ul class="help-block"></ul>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-sm-6">
                                    <label for="user_password" class="sr-only">密码</label>
                                    <input type="password" id="user_password" name="user[password]"
                                           data-message-error="密码至少 6 个字符" minlength="6" required="required"
                                           class="form-control" placeholder="密码（至少 6 个字符）" data-event="validate"/>
                                    <span class="button--clear fa fa-times"></span>
                                    <ul class="help-block"></ul>
                                </div>
                                <div class="form-group col-sm-6 signup_form-captcha">
                                    <label for="_rucaptcha" class="sr-only">验证码</label>
                                    <div class="input-group">
                                        <input required="" placeholder="验证码" name="_rucaptcha" data-parent=".form-group"
                                               class="form-control" data-event="validate"/>
                                        <div class="input-group-addon">
                                            <a href="#" rel="nofollow"
                                               onclick="$('#rucaptcha_image-29ab').attr('src', '/captcha?t=' + new Date().getTime()); return false"
                                               title="换一张"><img data-original="/captcha"
                                                                class="btn btn--icon btn--blue_light" alt="验证码"
                                                                id="rucaptcha_image-29ab" style="visibility: visible;"
                                                                src="../static/images/bong?state=%2Fthings%2Fless-fu-gu-shou-gong-niu-pi-ben%2Factivities"
                                                                data-label="bong" data-action="login"
                                                                data-category="user" title="用 bong 登录"/><i
                                                    class="fa fa-bong-ko"></i></a>
                                            <p></p>
                                            <footer class="section-footer">
                                                <a href="#" class="modal-flipper"><i class="fa fa-angle-left"></i>登录<em
                                                        class="logo">KnewOne</em></a>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="find_password_modal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">&times;</span><span
                                        class="sr-only">Close</span></button>
                                <div class="modal-body">
                                    <input type="hidden" value="✓" name="utf8"/>
                                    <legend>重置密码</legend>
                                    <div class="form-main">
                                        <div class="form-group col-sm-6">
                                            <label class="sr-only">邮件地址</label>
                                            <input type="email" data-message-error="邮箱格式错误" placeholder="邮件地址"
                                                   required="required" class="form-control" value="" id="user_email"
                                                   name="user[email]" data-event="validate"/>
                                            <span class="button--clear fa fa-times"></span>
                                            <ul class="help-block"></ul>
                                        </div>
                                        <div class="form-group form-actions col-sm-6">
                                            <input type="submit" class="btn btn--blue_light" value="发送密码找回邮件"
                                                   name="commit"/>
                                        </div>
                                        <div class="form-group form-results col-sm-12 hidden"></div>
                                    </div>
                                    <footer class="section-footer">
                                        <a href="#login-modal" data-dismiss="modal" data-toggle="modal"
                                           class="modal-flipper"><i class="fa fa-angle-left"></i>登录<em class="logo">KnewOne</em></a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tabindex="-1" role="dialog" id="socialshare_wechat_modal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">&times;</span><span
                                            class="sr-only">Close</span></button>
                                    <h4 class="modal-title">扫描二维码分享到微信</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="qrcode">
                                        <img role="dialog" id="fallback_help_modal" class="modal fade"
                                             aria-hidden="true"/>
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" data-dismiss="modal" class="close"><span
                                                            aria-hidden="true">&times;</span><span
                                                            class="sr-only">Close</span></button>
                                                    <h4 class="modal-title">和我们聊天</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>抱歉，客服系统现在繁忙。请邮件留言至邮箱&nbsp;<a href="mailto:help@knewone.com"
                                                                                    target="_blank">help@knewone.com</a>&nbsp;，或私信账号“KnewOne销售”，我们将尽快给予回复。不便之处，敬请谅解！
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div tabindex="-1" role="dialog" id="socialshare_modal" class="modal fade">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" data-dismiss="modal" class="close"><span
                                                            aria-hidden="true">&times;</span><span
                                                            class="sr-only">Close</span></button>
                                                    <h4 class="modal-title">分享到社交网络</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="socialshare socialshare--large socialshare--grid_2">
                                                        <div class="socialshare-providers">
                                                            <a href="#socialshare_wechat_modal"
                                                               data-label="LESS 复古手工牛皮本" data-action="wechat"
                                                               data-category="share" data-dismiss="modal"
                                                               data-toggle="modal" title="分享到微信"
                                                               class="socialshare-provider wechat"><i
                                                                    class="fa fa-weixin"></i></a>
                                                            <a href="#" data-label="LESS 复古手工牛皮本" data-action="weibo"
                                                               data-category="share" title="分享到新浪微博"
                                                               class="socialshare-provider weibo"><i
                                                                    class="fa fa-weibo"></i></a>
                                                            <a href="#" data-label="LESS 复古手工牛皮本" data-action="douban"
                                                               data-category="share" title="分享到豆瓣"
                                                               class="socialshare-provider douban"><i
                                                                    class="fa fa-douban-ko"></i></a>
                                                            <a href="#" data-label="LESS 复古手工牛皮本" data-action="renren"
                                                               data-category="share" target="_blank" title="分享到人人网"
                                                               class="socialshare-provider renren"><i
                                                                    class="fa fa-renren"></i></a>
                                                            <a href="javascript:(function(a,b,c,d){a[c]?a[c].ui.show():(d=b.createElement('script'),d.id='huaban_script',d.setAttribute('charset','utf-8'),d.src='https://huaban.com/js/widgets.min.js?'+Math.floor(+new Date/1e7),b.body.appendChild(d))})(window,document,'HUABAN_GLOBAL');"
                                                               data-label="LESS 复古手工牛皮本" data-action="huaban"
                                                               data-category="share" title="分享到花瓣"
                                                               class="socialshare-provider huaban"><i
                                                                    class="fa fa-huaban-ko"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div tabindex="-1" role="dialog" id="socialshare_wechat_modal" class="modal fade">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" data-dismiss="modal" class="close"><span
                                                            aria-hidden="true">&times;</span><span
                                                            class="sr-only">Close</span></button>
                                                    <h4 class="modal-title">扫描二维码分享到微信</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="qrcode"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div tabindex="-1" role="dialog" id="bong_point_modal" class="modal fade"
                                         aria-labelledby="" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" data-dismiss="modal" class="close"><span
                                                                aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                                        </button>
                                                        <h4 class="modal-title">bong 活跃点</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        活跃点是在佩戴&nbsp;
                                                        <a href="http://bong.cn/" target="_blank">bong</a>&nbsp;的时候，通过运动产生的一种激励点数，更多信息可参考
                                                        <a href="https://bongservice.daikeapp.com/kb/articles/229"
                                                           target="_blank">「活跃点规则」</a>。在 KnewOne 商城一个活跃点可以抵扣 1
                                                        元人民币，使用活跃点购买商品后，在取消订单或退货时，活跃点会在 2 个工作日内返还到你的&nbsp;
                                                        <a href="http://bong.cn/" target="_blank">bong</a>&nbsp;账户。
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="site_maps hidden">
                                    <a href="/maps/things">产品</a>
                                    <a href="/maps/reviews">评测</a>
                                    <a href="/maps/groups">小组</a>
                                    <a href="/maps/topics">帖子</a>
                                    <a href="/maps/categories">分类</a>
                                    <a href="/maps/entries">发现</a>
                                </div>
                                <script src="../static/js/vendor.js"></script>
                                <script src="../static/js/application.js"></script>
                                <script>$('[data-title]').tooltip()</script>
                                <!--          <script>Making.InitThing();</script>
                                          <script type="text/javascript">
                                //<![CDATA[
                                $(function() { Making.start(['Things', 'ThingsActivities']) });
                                //]]>
                                </script>-->
                                <div id="fancy-modal-container"></div>
                                <div id="add-to-list-modal-container"></div>
                                <div>
                                    <div id="MECHAT-PCBTN"
                                         style="background: rgb(6, 122, 180) none repeat scroll 0% 0%; display: none;">
                                        <span style="color: rgb(255, 255, 255); background-position: 0px -27px;"
                                              class="MECHAT-BTNLEAVE">目前客服不在线，请留言并留下您的邮箱</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}